{% extends "rome_templates/specific_essay.html" %}
{% block essay %}
            <h2>Pietro Castelli, Pietro and Tobia Aldini. <i>Exactissima Descriptio Rariorum Quarundam
            Plantarum, Que Continentur Rome in Horto Farnesiano</i></h2>
            
            <p>The Aldini’s book is a singularly elegant example of 17th century Roman print
                culture. The copy belonging to the Lownes Collection of the John Hay Library remains
                in a contemporary leather binding with gilt decoration on the spine and a red
                speckled foredge. It is larger than one might expect when looking at the digital
                copy of the book, the cover having about the same dimensions as a large laptop. The
                clarity and contrast of the black ink against delicate cotton rag paper in the
                etchings is perhaps more striking than in the digital version, and the impression of
                the type gives a sense of depth even to the thin pages. The type appears in roughly
                size 24 point font in the body of the introductory pages, and about 18 point in the
                main body of the text. The pages have some yellowing around the edges and are
                slightly brittle, but in remarkably good shape for an object that is nearly four
                hundred years old. When held up to the light, the end-pages reveal elegant key-like
                watermarks. The book was bequeathed to the John Hay Library in 1979 as part of the
                Albert E. Lownes Collection of Significant Books in the History of Science, and
                Lowne's personal bookplate pasted to the inside front cover indicates at least the
                most recent provenance. </p>
            <p>What is perhaps most notable about this book as a whole is the sense of completeness
                and forethought one has when looking through the manuscript, which is unusual for a
                book of this period. Many of the books in the Theater that was Rome collection
                represent the vedute or specchi for the traveling scholar, a form of manuscript that
                is far more fluid in form than this tightly collated, highly consistent manuscript.
                The <i>Exactissima Descriptio</i> begins much like the rest, with a formal declarative
                title page crediting Tobia Aldini of Cesana as author, Odoardo Farnese as patron,
                and Iacobo Mascardi as printer, with Luca Ciamberlano's initials below the frame
                indicating his role as engraver. The dedication signed by Aldini follows, and then a
                dedication to the Learned Author. It is at this point that Castelli is first
                mentioned, both in the text of the poem and in the form of the acrostic. Various
                letters then follow, from the printer to the reader, and to the Studios and Earnest
                Botanists, and then the manuscript is formally endorsed ("with joy!") in the
                imprimatur. This string of letters of dedication and affirmation are not unusual for
                books of this period, but what follows represents a remarkable show of attentiveness
                and organization; there is an index, naming each of the sixteen chapters defined by
                their respective dedicated plants and including page numbers. There is then an index
                of prints, also including page numbers. The main body of the work then plays out,
                chronicling sixteen different types of plant to be found in the Farnese gardens and
                their particular historiography and use. The pages of prints also contain
                double-margins and page numbers consistent with the rest of the book, indicating
                that each page had been printed in a double run, once through the etching press and
                then again through the letterpress, representing a remarkable investment of both
                time and money, but also indicative of both assiduousness and thoroughness on the
                part of the printer. The main body of the text is followed by three pages dedicated
                to the amendment of errata typographica, followed by yet another index in which the
                refinement of the typography is quite pronounced. The final printed page contains a
                triumphant and somewhat stomach-turning list of the diseases cured by remedies to be
                found in the book. </p>
            <h4>References</h4>
            <p>Castelli, Pietro, and Tobia Aldini. <i>Exactissima Descriptio Rariorum Quarundam
                Plantarum, Que Continentur Rome in Horto Farnesiano</i>. Romae: Typis Jacobi Mascardi,
                1625. Print. </p>
            <p>De Ferrari, Augosto. "Castelli, Pietro." <i>Dizionario Biografico degli Italiani.</i> Vo. 21
                (1978). Istituto dell'enciclopedia italiana. 14 Dec. 2011. Web. </p>
            <p>Nocchi, Paolo B. and Ezio Pellegrini. "La Collezione Botanica del Cardinale Odoardo."
                <i>Roma Antica: Gli Orti Farnesiani sul Palatino</i>. Ed. Giuseppe Morganti. Roma: Scuola
                Tipografica S. Pio X, 1990. 413-430. Print. </p>
{% endblock %}