{% extends "specific_essay.html" %}
{% block essay %}
            <h2>Jean Barbault, <i>Recueïl des plus beaux morceaux de l'antiquité romaine qui existe
                    encore</i> (1761) (A collection of the most beautiful morsels of Roman antiquity
                that still exist)</h2>


            <p>This book was printed in Rome, by Bouchard et Gravier (Libraires François rüe du
                Cours près de Saint Marcel, de l'imprimerie de Komarek), in 1761. This is Barbault’s
                first and most important work. It is, moreover, a first edition. It could be
                understood as another version of Giovanni Battista Piranesi’s <i>Antichità Romane</i>
                (1756). In 1756 Barbault was working on 14 plates for volumes 2 and 3 of Piranesi’s
                <i>Antichità</i>, which led him to produce this book a few years later. The Oxford Online
                dictionary describes the book as containing “idealized Roman landscapes,” while the
                dealer description of a similar book contained at Harvard’s Houghton Library
                describes the book as containing “artistic renderings” of Rome’s ancient ruins. This
                is only partially accurate, for the book could be roughly divided into two parts:
                architectural and sculptural. The architectural portion of the book is organized by
                building type: Temples (pl. 1-15), triumphal arches (pl. 16-21), theaters (pl.
                22-27), columns and obelisks (pl. 28-31), baths and aqueducts (pl. 34-44) and
                tombs/altars (pl. 45-51). Plates 55-73 are devoted almost entirely to ancient
                statuary (along with a few bas-reliefs), with no historical or
                archaeological/architectural text accompanying them. Plates 86-87 take us outside
                Rome proper, featuring pictures and descriptions of several recently discovered
                paintings from Herculaneum (along with an image of the excavation site). Thus while
                the author prioritizes architecture, and inscribes his work within the grand Roman
                vedute genre, the book itself contains much more. </p>
            <p>The book begins with a title page vignette depicting putti drawing and measuring
                various Roman monuments from antiquity. Next there is an engraved allegorical
                vignette, accompanying the dedication to “his Excellency, Jean François Joseph de
                Rochechouart.” A description of each plate helps orient the reader (now located at
                the back). A detailed examination of who drew and engraved each plate is
                illuminating in terms of complicating the idea of unitary authorship in the early
                modern era. The plates can be divided as follows: </p>
                <p>
                
            <table>
                <tr>
                    <th>Draughtsmen/Artists</th>
                    <th><b>Number of plates</th>
                    <th>Engravers</th>
                    <th>Number of Plates</th>
                </tr>
                <tr>
                    <td>Jean Barbault</td>
                    <td>83</td>
                    <td>Jean Barbault</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>Carlo Nolli</td>
                    <td>1</td>
                    <td>Domenico Montagu</td>
                    <td>52</td>
                </tr>
                <tr>
                    <td>L. Rusalino/Bufalino</td>
                    <td>1</td>
                    <td>J. (Joseph?) Bouchard</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Unsigned </td>
                    <td>43</td>
                    <td>Freicenet</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Unsigned</td>
                    <td>10</td>
                </tr>
            </table>

</p>
            <p>Thus, while we attribute the book’s authorship to Jean Barbault, many other artists
                had a hand in the book. Like many early modern books, it could more accurately be
                conceived of as a collaboration, not a monograph. Domenico Montagu looms
                particularly large, engraving roughly half as many of the plates as Barbault
                himself. Indeed, many of the characteristically Barbault images, which contain large
                picturesque and romantic ruins are attributable to Montagu. In addition to the
                artists, the publishers Gravier and Bouchard also appear to have a hand in this. It
                is the publishers who dedicated the book to Jean François Joseph de Rochechouart,
                bishop of Laon and ambassador to the Holy See. Though we can only speculate,
                Barbault appears to have retained no rights over the books itself, having sold the
                plates outright to these publishers. The publishers may therefore have commissioned
                the work, or have agreed to publish it for their mutual benefit. Capitalizing on the
                eighteenth century fashion for large Roman vedute, made possible by Piranesi and
                Vasi, they may have agreed to print his plates to both make a profit themselves and
                help rescue Barbault from his financial troubles. They were indeed able to profit
                from the book. A posthumous edition was made in 1770, along with abridged editions
                in 1787 and 1783. There was also a German edition of this work, printed in Augsburg
                in 1782 by C.H. Stage. Barbault’s other major work, <i>Les Plus beaux édifices de la
                Rome modern</i> was much less successful by comparison. </p>
            <h4>References: </h4>
            <p>Barbault, Jean <i>Oxford Online Dictionary</i>. 15 Dec. 2011. Web</p>
{% endblock %}