{% extends "specific_essay.html" %}
{% block essay %}
            <h2><i>Il Campo Marzio dell'antica Roma opera di G.B. Piranesi socio della real Società
                    degli antiquari di Londra</i></h2>
            <h2>The Campus Martius of ancient Rome, the work of G.B. Piranesi, Fellow of the Royal
                Society of Antiquaries, London</h2>
            <p>Although Il Campo Marzio was published in 1762, its publication is announced as part
                of the first volume of <i>Antichita Romane</i> (1756). Instead, after Piranesi’s contact
                with Scottish Architect Robert Adam, who was studying in Rome during the 1750’s,
                Piranesi began to work on a grand plan reconstructing Imperial Rome. This large Plan
                of Campo Marzio in six copperplates was titled, “Ichnographia,” or plan of the
                Campus Martius. As he collaborated with Robert Adam, Piranesi became more enthused
                about the idea of creating a full-scale treatise. Further, before Adam left Rome he
                had convinced Piranesi to set his mind to the task, and Piranesi thanked Adam for
                his inspiration by dedicating the work to him. The book is dedicated in 1757, even
                though it was published in 1762. The <i>approbatio</i> is dated 1761. </p>
            <p>The Campus Martius, or Field of Mars, is both an important investigation of the
                archaeological history of the region, as well as an important phase of Piranesi’s
                development as an artist. In this book, Piranesi investigates the growth of the area
                on the left bank of the Tiber that was originally a parade and sports ground.
                However, early imperial times gave rise to the construction of many baths, theaters,
                and temples that began to cover the region contained by the Capitoline, Quirinal,
                and Pincian Hills. In 37 plates, Piranesi reconstructed the 18th-century Campus
                Martius as a field for his artistic development of ancient Rome.. These
                architectural plans were not solely prepared from Piranesi’s creative imagination,
                but rather emerged as a learned assemblage from balancing his knowledge of the
                historical evidence and obsessive accumulation of material and historical data..
                Piranesi communicates the depth of his knowledge in each commentary accompanying
                every Veduta. His archaeological evidence is transformed into the forms of image and
                text. </p>
            <p>In this treatise, mainly of vedute, Piranesi recreated some of the most prominent
                buildings and bridges with modern reconstructions removed from view so strikingly
                that the frame of decay of antiquity became believable. Piranesi also went further
                in his investigation as he attempted to reconstruct areas of his <i>Ichnographia</i> by
                creating three bird’s eye view vedute of what he imagined the magnificence of Rome
                to look like. In these three views Piranesi envisions three popular areas in ancient
                Rome including the Theater of Balbus and theater of Marcellus, the Amphitheater of
                Statilis Taurus, and the Pantheon. However, Piranesi does not just focus on the main
                buildings in the neighborhood, but also every detail of the buildings, people,
                streets, and waterways in the vicinity. With the completion of a book such as Il
                Campo Marzio and the competitive nature of Roman print culture during the Grand Tour
                era, Piranesi was a major contributor to the movement which made 18th century Rome
                popular. </p>
            <p>There are two versions of Il Campo Marzio. The first version was published in Rome in
                1762. This version is composed of two title pages, one in Latin and one in Italian,
                two ornamented letters, one “A” in Latin and one “D” in Italian, four vignettes,
                which in this particular book are located at the end rather than the beginning where
                they are recorded more commonly, 42 plates by Piranesi, 5 of these plates are
                composed of several copper plates, one engraving by Westerhout pertaining to the
                raising of the Column of Antoninus Pius in 1705, 68 pages of text in Italian and
                Latin, with six pages of dedication to Robert Adam, and finally, 29 pages of
                indices. The second version was published in Paris. These editions were published
                after 1762 and contain plates numbered 418 to 455. </p>
            <p>Il Campo Marzio is a large book meant for public display and open viewing. The book
                is large enough to be laid open across a wide and tall surface. The pages of the
                book are thin and soft, and upon further investigation it will be determined if
                there exist any herbs for preservation purposes stuffed between the pages. The book
                is currently bound, well-taken care of and in good condition. It currently resides
                in Chicago within the collection of Mr. Vincent Buonanno. </p>
            
            <h4>References: </h4>
            
            <p>Penny, Nicholas. <i>Piranesi.</i> London: Oresko. (1978). Print.</p>
            
                <p>Wilton-Ely, <i>John Giovanni Battista Piranesi: The Complete Etchings.</i> Vol. II.
                San Francisco: Alan Wofsy Fine Arts. (1994). Print. </p>
            
            <p>Wofsy, Alan. <i>Giovanni Battista Piranesi: The Complete Etchings</i>. Koln; New York:
                Taschen. (2000): 394-431. Print. </p>
{% endblock %}