{% extends "specific_essay.html" %}
{% block essay %}
            <h2>Giacomo Lauro, <i>Antiquae Urbis Splendor</i></h2>
            <p><b>Long title:</b> <i>Antiquae urbis splendor, hoc est praecipua eiusdum templa,
                amphitheatra, theatra, circi, naumachie, arcus triumphales, mausolea aliaque
                sumptuosiora aedificia, pompae item triumphalis et colossaearum imaginum descriptio;
                opera &amp; industria Iacobi Lauri Romani in aes incisa atque in lucem edita. Addita
                est breuis quaedam et succincta imaginum explicatio in qua regum consulum
                imperatoruq; res gestae et rei romanae origo progressus incrementum, ac finis cu
                almae urbis antiquor. ac modernor. vestigior. additione utcunq; hoc insequenti anno
                1630 reperiutur, et ex veteru ac recentior. historiar. monumentis clare ostenditur.</i> </p>
            <p>The copy of Giacomo Lauro’s <i>Antiquae Urbis Splendor…</i> in the Theater that was Rome
                Collection was most likely the edition printed in 1937 by Vitale Mascardi, the first
                version of the book to have pages numbered through 167, though in fact only 158
                prints appear in this bound edition. The book has a long and varied history of
                publishing, beginning in 1612, though Lauro’s work on the book predates its
                publishing by at least eighteen years. The book was first printed by Giacomo
                Mascardi, and it originally only contained two parts, though by 1615 it had expanded
                to a third part. The first part contained 37 engravings, with a dedication to King
                Sigismund III of Poland, dated 1614, and a portrait dated 1609 (borrowed from
                another book of engravings). The second part contained a portrait of Charles
                Emmanuel I, Duke of Savoy, dated 1613, and 41 engravings. It is worth noting that
                these first two books were both dedicated to Polish nobility, probably due to the
                fact that Lauro had enjoyed patronage from engraving Polish battles early in his
                career. The third part, added later, was dedicated to Ranuccio Farnese, one of
                Lauro’s greater patrons later in his life, and contained 40 engravings.</p>
            <p>The number of plates included in each of the earlier editions of Lauro’s work
                (printed at the Camera Apostolica in 1614 in four parts, and printed there again in
                1621 in three parts) was finally settled in 1628 with the addition of the fourth and
                final book for a total of 166 engravings, which is the generally accepted number for
                how many engravings total Lauro produced for this work. The edition published by
                Vitale Mascardi and curated by Giovanni Alto was released in 1637. Alto added a
                final index and numbered each of the engravings, 2-167, for this latest release.</p>
            <p>Here, accounts differ. An edition was published by Andrea Fei with the Latin
                inscriptions at the bottom of nearly every engraving translated into Italian,
                German, and French for the jubilee. Some sources list this edition as being printed
                in 1641 others 1625. The recorded year of the jubilee was 1625 under Pope Urban VIII
                (whose portrait also appears in the opening pages to book one of <i>Antiquae Urbis
                Splendor</i>), however sources also seem to agree that the jubilee book contained all
                four parts, which were not printed until 1628. Editions were certainly published in
                the years 1625, 1630, 1641, and 1699, by any account.</p>
            <p>The edition in the Theater that was Rome collection is most likely later than 1637,
                though it is listed under that date. After 1637, when Giovanni Alto carefully
                numbered and collected all of Lauro’s engravings, the later editions were printed
                with engravings rearranged or removed, as seems to be the case in this particular
                book. The unnumbered title page, dated 1612, is listed as page 1 in the index. The
                dedication portrait to Pope Urban VIII is numbered with the date of the beginning of
                his papacy, 1623. This is followed by a letter to the reader, written by Giovanni
                Alto and dated 1632. Next is the dedication to Sigismund III, followed by a portrait
                of the king dated 1609. Part one of this edition is then missing pages 5, 8, 11, 16,
                20, and 38, some of which are available in the widely published modern edition of
                the book, <i>Meraviglie Della Roma Antica</i>. A listing for the 1637 edition mentions that
                there is an additional dedication between pages 12 and 13, dated 1637, which is also
                absent from this digitized version. In total, there are 44 engravings in part one of
                this book.</p>
            <p>The second book begins on numbered page 49, called “Antiquities of the City” and
                dated 1613. The dedication to the Duke of Savoy, also dated 1613, is on the next
                page, followed by a portrait. Part two contains 33 engravings total (including the
                title, dedication, and portrait), though it is also missing pages, specifically
                pages 60, 67, and 83.</p>
            <p>The third book begins on the 85th engraving with a dedication to the Duke of Parma
                and Piacenza, Ranuccio Farnese. No engravings are missing from this part, which
                contains 42 engravings including the title page. The book contains a number of
                garden views.</p>
            <p>The fourth and final part explores modern views of the city, including revisiting
                some of the buildings that Lauro had reconstructed in earlier parts of the book,
                depicting them in a more ruinous state. The book begins on the 127th engraving with
                another dedication to the Duke of Savoy. It contains 40 engravings, including the
                final index, and is only missing one of the engravings (131).</p>
            <p>This particular edition contains a total of 158 engravings, somewhat less than the
                anticipated 167. However, it does show some evidence of being rebound or rearranged.
                In particular, the inverse of the page with the dedication to Pope Urban VIII
                maintains the imprint of ink from a page that does not match up with the actual
                facing page. The same is true of the back of the title page. This may mean that the
                book was at one point bound in a different order, or could be the remnants of
                stacking pages in the print shop. The pages themselves are thick, and the first four
                blank pages each contain a watermark. The first and second pages have a simple
                crown, while the third page has a more complicated image – a beautiful fleur de lys
                embedded in a crowned crest. The fourth page has a very simple symbol, a ‘P’
                combined with an ‘L.’ All of the engravings themselves were clearly done by hand,
                and as a result have a very personal effect, evinced by Lauro’s handwritten
                inscriptions, which often contain shorthand notations, even corrected mistakes in
                some places (for instance, in the title page, the word ‘<i>succincta</i>’ was clearly
                initially missing the final c, which was then scratched in above the word as an
                insert).</p>
            <h4>References</h4>
            <p>Rossetti, Sergio. <i>Rome: A Bibliography.</i> Vol. 3. Florence, Italy: L.S. Olschki, 2000.
                39-40. Print.</p>
            <p>Buckley, Penny. <i>The Splendors of Ancient Rome: A Seventeenth Century View. The
                Splendors of Ancient Rome.</i> J. Paul Getty Museum, 1974. Print.</p>
            <p>Cametti, Cecilia. Introduction. <i>Meraviglie Della Roma Antica.</i> By Giacomo Lauro and
                Cristina Falcucci. Roma: D. Audino, 1992. Print.</p>
            <p>Di Calisto, Laura. "Lauro, Giacomo." <i>Dizionario Biografico Degli Italiani.</i> Vol. 64.
                2005. <i>Treccani</i>. Web.
                [<a href="http://www.treccani.it/enciclopedia/giacomo-lauro_(Dizionario-Biografico)/" target="_blank">http://www.treccani.it/enciclopedia/giacomo-lauro_(Dizionario-Biografico)/</a>].</p>
{% endblock %}