{% extends "specific_essay.html" %}
{% block essay %}
            <h2>Antonio Bosio, <i>Roma Sotteranea</i></h2>
            <p>The first edition of Antonio Bosio’s <i>Roma sotterranea</i> was released posthumously in
                1634, approximately five years after the author’s death. Bosio had conducted a vast
                amount of preparatory work and many Roman scholars were looking forward to the
                publication of his ambitious project. After the author’s death, the Knights of
                Malta, who were appointed as his beneficiary (legatee), entrusted the Oratorian
                Giovanni Severani with the editing and revising of Bosio’s work. Only the second
                part of Bosio’s original plan was completed before the author’s death. This section
                of the project included two parts: the first was devoted to early Christian burial
                practices and funeral rituals and the second was dedicated to a detailed description
                of the Roman catacombs that Bosio had explored. Cod. 31 of the Biblioteca
                Vallicelliana in Rome contains Bosio’s original manuscript with Severani’s editorial
                revisions. Among Severani’s additions, the most conspicuous was a whole fourth book
                on the catacombs’ iconography. Facciotti printed the book and the printing process
                lasted almost three years, partially due to the laborious work for the many
                illustrations present in the book. The first edition of <i>Roma sotterranea opera
                postuma di Antonio Bosio romano</i> [Subterranean Rome, a posthumous work of the Roman
                Antonio Bosio] became the object of polemical disputes between Catholics and
                Protestants on the history and customs of the early Christians. The Brown University
                copy of Bosio’s book digitized for this website is a 1650 edition of the <i>Roma
                sotterranea</i>. Reprinted by Lodovico Grignani on the occasion of the 1650 jubilee,
                this edition reached a greater number of readers than the Facciotti edition. It was
                also known as <i>Il Bosietto</i>, [the little Bosio], because of its compact format and
                reduced number of illustrations. The book includes convenient summaries all around
                the text margins and only one plate appears to be missing between page 124 and 125. </p>
            <h4>References</h4>
            
            <p>Ghilardi, Massimiliano, “Baronio e la <i>Roma sotterranea</i> tra pietà oratoriana e
                interessi gesuitici.” Luigi Giulia (ed.), <i>Baronio e le sue fonti: atti del convegno
                internazionale di studi: Sora, 10-13 ottobre 2007</i>. Sora: Centro di Studi sorani
                “Vincenzo Patriarca,” 2009. Print. </p>
            
            <p>Parise, Nicola. “Bosio, Antonio.” <i>Dizionario Biografico degli Italiani.</i> Vol. 13
                (1971). Istituto dell’enciclopedia italiana. Web. </p>
{% endblock %}