/* Colors
  #000000 Text Color
  #89775D Link Color, warm gray
  #A89B8A Visited Link Color, cool gray
  #D64833 Highlight color, red
  #D38A09 Info box / highlight box outline color, burnt orange
  #F2D69E Info box / highlight box color, beige/yellow
  #ffffff Top bar text color
  #DBC3AF Top bar page title highlight color, cool beige
  #E8C577 Background, NAPLES YELLOW
  #F9EDD2 Lightest yellow background, info box color for light book background
/*
/*
  * BODY
  */


	
#page_body {
	clear: both;
	background:#E8C577;
	}

#page_head ul, ol,
#page_body ul, ol{
	padding: 0 10px 0;
	}

#page_head li {
	/*margin-bottom: 6px;*/
/*	list-style-type: square;*/
	color: #D64833;
	font-weight:300;
	}
	
#page_head li .dark,
#page_body li .dark {
	color: #3e3a2e;
	}
	
	
	/*
	 * SORT
	 */

.sort_options{
	font-size:14px;
}
.sort_options a{
	color:#000;

}

.sort_active {
	font-weight: bold;

}
ul#sort {
	margin: -10px 10px 0;
	padding: 0 0 55px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	}

#sort li {
	list-style: none;
	margin: 0;
	}
	
#sort li#sorttitle {
	float: right;
	margin: 5px 7px;
	font-style: italic;
	}
	
#sort a {
	display: block;
	float: right;
	width: 72px;
	/*height: 37px;*/
	margin: 0;
	color: #302e27;
	background: #c8c3b4 url(../images/sortlist-left.gif) no-repeat top left;
	}
	
#sort a span {
	display: block;
	padding: 11px 6px;
	/*height: 37px;*/
	text-align:center;
	background: url(../images/sortlist-right.gif) no-repeat top right;
	}
	
#sort a:hover {
	text-decoration: none;
	background-color: #9e9782;
	color: #000;
	}
	
#sort a:active {
	background-color: #857f6d;
	}
	
p {
	margin: 0 40px 0px;
	line-height: 18px;
	padding-bottom: 5px;
	}

/* this is for the author name in a bio */
p.resp {
    text-align:right;
    font-style:italic;
    }


a.bookEssay {
	color: black;
}

.more_button
{
	cursor:pointer;
}

/*
 * For thumbnail viewer
 */
.img_container{
  float:left;
  margin-bottom:5px;
  padding-bottom:5px;
  text-align:center;
}
.img_container:hover {
  background:rgba(0,0,0,.1);
}

.img_container img {
  margin:5px;
  padding-left:5px;
  height: 150px;
}

a.essaylink {
	display: none;
	margin-left: 35px;
}

div.essayhide {
	display: none;
	margin-left: 35px;
}

a.essaylinkpage {
	margin-left: 55px;
	color: #3e3a2e; 
}

div.text {
	display : none; 
	color: black;
}

div.essaytoggle {
	margin-top:2px; 
}

span.underlinewrap {
	border-bottom: 1px dotted;
}

/*
 * For page_detail
 */
a#prev_page {
    display: block;
    width: 30px;
    margin: 5px;
	margin-bottom:0px;
    margin-left: 33%;
    float:left;
    font-size: 12pt;
}

a#next_page {
    display: block;
    width: 30px;
    margin:5px;
	margin-bottom:0px;
	margin-left:50.3%;
    float:left;
    font-size: 12pt;

}

div#prevnext {
    margin: 5px;
	margin-bottom:0px;
    height: 20px;
    text-align: center;
	white-space: nowrap;
	overflow:hidden;
	display:inline-block;
	min-width:50%;
	font-weight:300;
}

div#image_span {
	/*padding: 15px 0px 0px 30px;*/
	width:100%;
	margin-bottom:5px;
	display:inline-block;
	max-height:590px;
	padding-top:10px;
	margin-left:3%;
	vertical-align: top;
}


iframe {
	margin: 0;
	padding: 0;
	border: none;
	max-height:550px;
	width:100%;

}

div.essaytogglepage{
	display: none;
	margin-left: 40px; 
	margin-top: 4px;
}

div.essaytextpage {
	margin-left: 15px;
}

div.essayhidepage {
	margin-left: 55px;
}

ul.navigationlink{
	margin-top: 1px;
	margin-bottom: 1px;
}

#navigation{
	margin-top: 10px;
}



#metadata {
	display:inline-block;

}

.annotation {
	margin:auto;
	display:inline-block;
	padding:15px;
	border-style:solid;
	border-width:1px;
	width:85%;
	border-color:#c2b99d;
	margin-bottom:10px;
	margin-left:7.5px;
	font-weight: 300;
}

#detailcontainer {
	border-style:solid;
	border-width:1px;
	border-color: #D38A09;
	margin-top:10px;
	max-width:30.5%;
	height:auto;
	background:#F2D69E;
	overflow:hidden;
	display:inline-block;

}

#rightcontainer {
	display:inline-block;
	vertical-align: top;
	width:57.5%;
}


#essays {
	border-style:solid;
	border-width:1px;
	border-color: #D38A09;
	margin-top:10px;
	width:100%;
	height:auto;
	background:#F2D69E;
	overflow:hidden;
	display:inline-block;
	margin-left:3%;
}

#bookinfo {
	background-color:#F2D69E;
	padding-top: 1px;
	font-weight:300;
	display:inline-block;

}

#metadata .annot_field b{
	color: #D64833;
}


.annot_title b{
	color: #000;
}

#metadata ul {
	list-style:none;
}

.annot_title {
	width:90%;
	margin-bottom:10px;
	font-size:125%;
	margin-left:-13px;
}

.annot_subtitle {
	margin-bottom:5px;
	font-size:100%;
	text-align:center;
}

.annot_field {
	margin-bottom:5px;
}

.new_annotation_link a {
	border-bottom: 1px dotted #000;
}

/*
 * For list results pages
 */

.metadata div.extra {
	color: #D64833;
}

.metadata a {
	font-size: 16px;
	color:  #89775D;
	font-weight:bold;

}
