<!doctype html>
<html>
  {% load static from staticfiles %}
  {% load url from future %}
  <head>
    <title> {% block title %}{% endblock title %}</title>
    {% block css_stylesheets %}
      <link rel="stylesheet" href="{%static 'rome/css/prints.css' %}" type="text/css" media="screen" />
    {% endblock css_stylesheets %}

    {% block extra_js_head %}
    {% endblock extra_js_head %}
  <head>

  <body>
      <div id="page_head">
          <h1>
              <span class="repeatbg"><span class="leftcap"><a href="../">{% block page_title %}{% endblock page_title %}</a></span></span>
          </h1>
          <div style="font-size:15px; margin-left:20px; width:95%; padding-top:15px; padding-bottom:10px">
            {% block intro %}
            {% endblock intro %}
          </div>
          <div style="font-size:15px; margin-left:20px; padding-top:15px; padding-bottom:10px">
            {% block pagination %}
            {% endblock pagination %}
          </div>
      </div>
      <div id="page_body">
            {% block content %}
            {% endblock content %}
      </div>
      <div id="footer">
        <span>&#169; 2014 Brown University</span>
        <a href="http://www.brown.edu"><img src="{%static 'rome/images/brown-logo.gif' %}" alt="Brown University" /></a>
        <a href="http://www.stg.brown.edu"><img src="{%static 'rome/images/stg-logo.gif' %}" alt="Scholarly Technology Group" /></a>
    </div>
  </body>
</html>
