<!doctype html>
<html>
  {% load static from staticfiles %}
  {% load url from future %}
  <head>
    <title> {% block title %}{{title}}{% endblock title %}</title>
    {% block css_stylesheets %}
      <link rel="stylesheet" href="{%static common_style %}" type="text/css" media="screen" />
      <link rel="stylesheet" href="{%static usr_style %}" type="text/css" media="screen" />
    {% endblock css_stylesheets %}

    {% block javascript %}
      <script src="{% static 'rome/js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
    {% endblock javascript %}

    {% block extra_head %}
    {% endblock extra_head %}
  <head>

  <body>
      {% block page_head %}
      <div id="page_head">
          <h1>
              <span class="repeatbg"><span class="leftcap"><a href="../">{% block page_title %}The Theater that was Rome{% endblock page_title %}</a></span></span>
          </h1>
          <div class="intro">
            {% block intro %}
            {% endblock intro %}
          </div>
          <div class="pagination">
            {% block pagination %}
            {% endblock pagination %}
          </div>
          {% block cookietrail %}
          {% endblock %}
      </div>
      {% endblock %}
      <div id="page_body">
            {% block content %}
            {% endblock content %}
      </div>
      <div id="footer">
        <span>&#169; {{cpydate}} Brown University</span>
        <a href="http://www.brown.edu"><img src="{%static brown_image %}" alt="Brown University" /></a>
        <a href="http://www.stg.brown.edu"><img src="{%static stg_image %}" alt="Scholarly Technology Group" /></a>
    </div>
  </body>
</html>
