{% extends "rome_templates/base.html" %}
{% load url from future %}

{% block title %}{{title}}{% endblock %}
{% block page_title %}The Theater that was Rome - People{% endblock %}

{% block extra_head %}
<script type="text/javascript">
window.onload=load;
var curr_page;
function load()
{
    curr_page={{ curr_page }};
    show_page(curr_page);
    show_sorting('{{sorting}}');
}

function show_page(i)
{
    var old_page, new_page, max_num, buttons;
    old_page=document.getElementById("page_"+curr_page);
    old_page.style.display="none";
    
    new_page=document.getElementById("page_"+i);
    new_page.style.display="block";
    curr_page=i;
    
    buttons=document.getElementsByClassName("page_button");
    for(var j=0;j<buttons.length;j++)
        buttons[j].style.background="#aaaaaa"
    buttons[parseInt(i)-1].style.background='#888888';

    max_num={{ num_bios }};
    
    document.getElementById("bios_shown").innerHTML=((parseInt(i)-1)*{{ bios_per_page }}+1)+"-"+(Math.min(parseInt(i)*{{ bios_per_page }}+1, max_num));
    
    document.getElementById("curr_page_span").innerHTML=i;
}

function show_sorting(sorting) {
    var links=document.getElementsByClassName("sort_link");
    for(var i=0;i<links.length;i++)
        links[i].style.fontWeight="normal";
    document.getElementById("sort_"+sorting).style.fontWeight="bold";
}
</script>
<style type="text/css">
    #page_body li {
        font-size: 14px;
        height: 30px;
    }

    #cookietrail {
        display: none;
    }
</style>
{% endblock %}

{% block pagination %}
    {% for i in page_range %}
        <button id="page_button_{{i}}" class="page_button" onclick="show_page({{i}})">{{i}}</button>
    {% endfor %}
    &nbsp showing <span id="bios_shown"></span> of {{num_bios}} biographies; on page <span id="curr_page_span">1</span>
    <br/>
    Filter by:&nbsp
    {% for role in role_set %}
        {% if role %}<a id="sort_{{ role }}" class="sort_link" href="{% url 'people' %}?filter={{ role }}">{{ role.capitalize }}</a> | {%endif%}
    {% endfor %}
    <a id="sort_all" class="sort_link" href="{% url 'people' %}">All</a>
{% endblock %}

{% block content %}
    {% for page in page_list %}
    <div id="page_{{forloop.counter}}" num="{{forloop.counter}}" style="display:none;">
        <ol>
            {% for bio in page %}
            <li value={{bio.number_in_list}}>
                <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}" class="dark">
                    <a href="{% url 'person_detail' bio.trp_id %}">
                    {{ bio.name }}
                    {% if bio.birth_date and bio.death_date %} ({{ bio.birth_date }} to {{ bio.death_date }}){% endif %}
                    </a>
                    {% if bio.roles %} [{%for role in bio.roles%}{{ role }}{% if not forloop.last %}, {%endif%}{%endfor%}]{% endif %}
                    <em>&nbsp;ID: {{ bio.trp_id }}</em>
                    <!-- Biography ID: {{ bio.pid }} -->
                </span>
                <br />
                <br />
            </li>
            {% endfor %}
        </ol>
    </div>
    {% endfor %}

{% endblock %}
