{% extends "rome_templates/base.html"%}
{% load markdown_deux_tags %}
{% load url from future %}

{% block title %}{{title}}{% endblock %}
{% block page_title %}The Theater that was Rome - People{% endblock %}

{% block extra_head %}
<style type="text/css">
    td {
        font-size: 13px;

    }
    table {
        width: 80%;
        margin-left: 20px;
        margin-top: 10px;
    }
    img {
        margin: 10px;

    }

    td.thumbnail {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    td.title {
        border-bottom: 1px solid black;
    }

    #page_body div#author_info li {
        color: black;
    }

    li.page_list_item {
        margin-top: 25px;
        list-style: none;
    }

    li.page_list_item b {
        color: black;
    }

    .pagination, .intro {
        display: none;
    }

</style>
{% endblock %}

{% block content %}
    <div id="author_info">
        <p>{{bio.bio|markdown}}</p>
    </div>
    <div id="related_sources">
        {% if books or prints or pages_books %}
            <h2>Related Resources</h2>
            {% if books %}
              <h4>Books</h4>
                <ul>
                {% for book in books %}
                <li><b><a href="{% url 'thumbnail_viewer' book.id %}">{{book.title}}</a></b></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if prints %}
            <h4>Prints</h4>
            <ul>
            {% for print in prints %}
                <li><b><a href="{% url 'specific_print' print.id %}" target="_blank">{{print.title}}</a></b></li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if pages_books%}
            <h4>Pages</h4>
            <ul>
            {% for key,book in pages_books.items %}
            <li class="page_list_item"><b>In <a href="{% url 'thumbnail_viewer' key %}" target="_blank">{{book.title}}</a> ({{ book.pages|length }}):</b><br/>
            <table>
            {% for num,page in book.pages %}
            <tr>
                <td class="thumbnail">
                    <a href="{% url 'book_page_viewer' key page.id %}" target="_blank"><img height='150px' src="{{page.thumb}}"/></a>
                </td>
                    <td class="title">Image {{ num }}<br/>
                    <a href="{% url 'book_page_viewer' key page.id %}" target="_blank">{{page.title}}</a>
                </td>
            </tr>
            {% endfor %}
            </table>
            {% endfor %}
            </ul>
            </li>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
