{% extends "rome_templates/result_base.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% block page_title %}The Theater that was Rome - People{% endblock %}

{% block result_title%}
{{result.name}}
{% endblock %}

{% block metadata%}
                    {% if result.birth_date and result.death_date %} ({{ result.birth_date }} to {{ result.death_date }}){% endif %}
                    <br/>
                    {% if result.roles %} [{%for role in result.roles%}{{ role }}{% if not forloop.last %}, {%endif%}{%endfor%}]{% endif %}
{% endblock %}

{% block extra %}{% endblock %}

{% block collection_data%}
                    <em>&nbsp;ID: {{ result.trp_id }}</em>
{% endblock %}

{% block sort_by_field%}
{{result.name}}
{% endblock %}

