{% extends "rome_templates/base.html" %}
{% load url from future %}

{% block title %}{{book.title}}{% endblock %}

{% block page_title %}The Theater that was Rome - Thumbnail Viewer{% endblock %}

{% block extra_head %}
  <style>
    .intro, .pagination {
      display: none;
    }

    .annotated {
      background-color: rgba(154,38,0,0.25)
    }

    .annotated:hover {
      background-color: rgba(154,38,0,0.4)
    }
  </style>
  
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var bdr_url = "http://repository.library.brown.edu/api/pub/items/"

  function mark_annotated(data) {
    for (var i = 0; i < data.response.numFound; i++) {
      var id = data.response.docs[i].rel_is_annotation_of_ssim[0].split(":")[1];
      $("#"+id).addClass("annotated");
    };
  }

  function cover_display (data) {
    if (data.relations.hasAnnotation) {
      var annot = data.relations.hasAnnotation[0];
      // Front cover has annotation and might do something about this later...
    };
  }
</script>
{% endblock %}

{% block cookietrail %}
<ol>
    <li>Book {{ book.id }}</li><br />
    <li>Author(s): <span class="dark">{{ book.authors }}</span></li><br />
    <li>Title: <span class="dark">{{ book.title }}</span></li><br />
    {% for atitle  in book.alt_titles %}
      {% if forloop.first %}
      <li>Alternative Title(s):</li><br />
      {% endif %}
      <li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="dark">{{atitle}}</span></li><br />
    {% endfor %}
    <li>Date: <span class="dark">{{ book.date }}</span></li><br />
    {% if essays %}
      <h4>Essays</h4>
          <ul>
          {% for essay in essays %}
            <li><b><a href="{% url 'specific_essay' essay.slug %}"><span class="dark">{{essay.title}}</span></a></b></li>
          {% endfor %}
          </ul>
    {% endif %}
    <li><a href="{{back_to_book_href}}">return to book list</a></li><br />
</ol>
<br/>
Pages marked with <span class="annotated">&nbsp;&nbsp;&nbsp;</span> are annotated.
{% endblock %}

{% block content %}
  {% for page in book.pages %}
    <div class="img_container" id="{{ page.id }}">
        <a href="{{ page.url }}" target="_blank">
            <img src="{{ page.thumbnail_src }}" height="150px"/>
        </a>
        <br />
        Image {{forloop.counter}}
    </div>
  {% endfor %}
  {% for uri in annot_lookups %}
  <script type="text/javascript" src="{{ uri }}"></script>
  {% endfor %}
{% endblock %}
