{% extends "rome_templates/base.html" %}
{% block title %}{{book.title}}{% endblock %}
{% block page_title %}The Theater that was Rome - Thumbnail Viewer{% endblock %}

{% block extra_head %}
  <style>
    .img_container{
      float:left;
      margin-bottom:5px;
      padding-bottom:5px;
      text-align:center;
    }
    .img_container:hover {
      background:rgba(0,0,0,.1);
    }
  </style>
  
{% endblock %}

{% block intro %}
  {{page_documentation}}
  <div id="cookietrail">
      <ol>
          <li>Book {{ book.id }}</li><br />
          <li>Title: <span class="dark">{{ book.title }}</span></li><br />
          {% for atitle  in book.alt_titles %}
            <li>Title (Alternative): <span class="dark">{{atitle}}</span></li><br />
          {% endfor %}
          <li>Author(s): <span class="dark">{{ book.authors }}</span></li><br />
          <li>Date: <span class="dark">{{ book.date }}</span></li><br />
          <li><a href="{{back_to_book_href}}">return to book list</a></li><br />
      </ol>
  </div>
{% endblock %}

{% block content %}
  {% for page in book.pages %}
    <div class="img_container">
        <a href="{{ page.url }}" target="_blank">
            <img src="{{ page.thumbnail_src }}" height="150px" style="margin:5px;padding-left:5px" />
        </a>
        <br />
        Image {{forloop.counter}}
    </div>
  {% endfor %}
{% endblock %}
