{% extends "rome_templates/base.html"%}
{% load url from future %}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block title %}{{title}}{% endblock %}
{% block page_title%}The Theater that was Rome{% endblock %}

{% block extra_head%}
<style type="text/css">
    .intro, .pagination {
        display: none;
    }
</style>
{% endblock %}

{% block css_stylesheets%}
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />
<link rel="stylesheet" href="{%static usr_essays_style%}" type="text/css" media="screen" />
{% endblock %}

{% block cookietrail %}
<div id="cookietrail">
    <ol>
        <li><a href="../">Back to essays</a></li>
    </ol>
</div>
{% endblock %}

{% block content %}
        {% block essay %}
        {{essay_text|markdown}}
        {% endblock %}
{% endblock %}
