{% extends "rome_templates/base.html"%}
{% load url from future %}

{% block extra_head %}
<style type="text/css">
    .pagination, #cookietrail {
        display: none;
    }
</style>
{% endblock %}

{% block page_title%}The Theater that was Rome - Essays{% endblock %}

{% block intro %}{{page_documentation}}{% endblock %}

{% block content %}
<h3>Essays on Individual Books</h3>
<ul>
    {% for essay in essay_objs %}
    <li><span><a href="{% url 'specific_essay' essay.slug %}">{{essay.title}}</a></span></li>
    {% endfor %}
</ul>
{% endblock %}
