<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
</head>
{% load static from staticfiles %}
{% load url from future %}
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />

<body>
    <div id="page_head">
        <h1>
            <span class="repeatbg"><span class="leftcap"><a href="../">The Theater that was Rome - Essays</a></span></span>
        </h1>
    </div>
    <div id="page_body">
        <div style="font-size:15px; margin-left:20px; width:95%; padding-top:15px; padding-bottom:10px">
            {{page_documentation}}
        </div>
        <h3>Essays on Individual Books</h3>
        <ul>
            {% for essay in essay_objs %}
            <li><span><a href="{% url 'specific_essay' essay.slug %}">{{essay.title}}</a></span></li>
            {% endfor %}
        </ul>
    </div>

<div id="footer">
    <span>&#169; {{cpydate}} Brown University</span>
    <a href="http://www.brown.edu"><img src="{%static brown_image%}" alt="Brown University" /></a>
    <a href="http://www.stg.brown.edu"><img src="{%static stg_image%}" alt="Scholarly Technology Group" /></a>
</div>

</body>
</html>
