{% extends "rome_templates/base.html" %}
{% load url from future %}

{% block title %}{{title}}{% endblock %}
{% block page_title %}The Theater that was Rome{% endblock %}

{% block cookietrail %}
<div id="cookietrail">
    <ol>
        <li>Links</li>
    </ol>
</div>
{% endblock %}

{% block content%}
    <ul>
        <li> <span><a target="_blank" href="http://formaurbis.stanford.edu">Stanford Digital Forma Urbis Romae Project</a></span></li>
        <li><span><a target="_blank" href="http://speculum.lib.uchicago.edu/index.html">Speculum Romanae Magnificentiae</a></span></li>
        <li><span><a target="_blank" href="http://www.iath.virginia.edu/rome/">Aquae Urbis Romae</a>The Waters of the City  of Rome</span></li>
        <li><span><a target="_blank" href="http://nolli.uoregon.edu">Interactive Nolli Map</a></span></li>
        <li><span><a href="http://vasi.uoregon.edu/index.htm" target="_blank">Imago Urbis: Giuseppe Vasi's Grand Tour of Rome</a></span></li>
    </ul>
{% endblock %}