{% load static %}
<html>
  <head>
    <style>
      #file {
          width:50%;
          float:left;
      }
      #form_data {
          float:left;
          padding-left:10px;
      }
      #id_original_title {
          width: 500px;
      }
      #id_english_title {
          width: 500px;
      }
      #id_abstract {
          vertical-align: top;
          width: 350px;
          height: 100px;
      }
    </style>
    <script src="{% static 'rome/js/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'rome/js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div id="file">
      <iframe src="{{image_link}}" width="100%" height="800" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="form_data">
      <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <div id="person_formset">
          <table>
            {{ person_formset.as_table }}
          </table>
        </div>
        <input type="button" value="Add Another Person" id="add_person">
        <div id="inscription_formset">
          <table>
            {{ inscription_formset.as_table }}
          </table>
        </div>
        <input type="button" value="Add Another Inscription" id="add_inscription">
        <p><input type="submit" value="Submit Annotation" /><br />
        Note: please only click submit once, and allow 5-10 seconds for the new annotation to be processed.</p>
      </form>
    </div>
    <div id="person_empty_form" style="display:none">
      <table>
        {{ person_formset.empty_form.as_table }}
      </table>
    </div>
    <div id="inscription_empty_form" style="display:none">
      <table>
        {{ inscription_formset.empty_form.as_table }}
      </table>
    </div>
    <script>
    //modified from here: http://stackoverflow.com/questions/501719/dynamically-adding-a-form-to-a-django-formset-with-ajax
    $('#add_person').click(function() {
        var p_form_idx = $('#person_formset').find('#id_form-TOTAL_FORMS').val();
        $('#person_formset').append($('#person_empty_form').html().replace(/__prefix__/g, p_form_idx));
        $('#person_formset').find('#id_form-TOTAL_FORMS').val(parseInt(p_form_idx) + 1);
    });
    $('#add_inscription').click(function() {
        var i_form_idx = $('#inscription_formset').find('#id_form-TOTAL_FORMS').val();
        $('#inscription_formset').append($('#inscription_empty_form').html().replace(/__prefix__/g, i_form_idx));
        $('#inscription_formset').find('#id_form-TOTAL_FORMS').val(parseInt(i_form_idx) + 1);
    });
    </script>
  </body>
</html>
