{% extends "rome_templates/base.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block page_title %}The Theater that was Rome{% endblock %}

{% block javascript%}
<script src="{% static 'rome/js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
function expand_title(title,num)
{
    var spans=document.getElementsByTagName("span");
    var i;
    for(i=0;i<spans.length;i++)
    {
        if(spans[i].getAttribute("num")==num)
        {
            spans[i].innerHTML=title;
            break;
        }
    }
}

{% if book_mode %}
var pid = "{{ print_id }}"

$(document).ready(function() {
    
    var next_link = $("#next_page");
    var prev_link = $("#prev_page");

    var prev_pid = "{{ prev_pid }}";
    var next_pid = "{{ next_pid }}";

    if(prev_pid != "none") {
        prev_link.attr("href", "{{ back_to_thumbnail_href }}" + prev_pid);
        prev_link.html("Previous");
    } else {
        $("#prev_page").html("");
    }

    if(next_pid != "none") {
        next_link.attr("href", "{{ back_to_thumbnail_href }}" + next_pid);
        next_link.html("Next");
    } else {
        $("#next_page").html("");
    }

});

{% endif %}
</script>
{% endblock javascript %}

{% block extra_head %}
<style type="text/css">
    a#prev_page {
        display: block;
        width: 30px;
        margin: 5px;
        margin-left: 3%;
        float:left;
        font-size: 12pt;
    }

    a#next_page {
        display: block;
        width: 30px;
        margin:5px;
        margin-left: 50%;
        float:left;
        font-size: 12pt;
    }

    div#prevnext {
        margin: 5px;
        height: 20px;
        text-align: center;
    }

    div.intro, div.pagination {
        display: none;
    }
</style>
{% endblock %}


{% block cookietrail %}
    <ol>
        <li>Title: <span class="dark">{{ title }}</span></li><br />
        <li>Author(s): <span class="dark">{{ authors }}</span></li><br />
        <li>Date: <span class="dark">{{ date }}</span></li><br />
        {% if book_mode %}
            <li>Book ID: <span class="dark">{{ book_id }}</span></li><br />
        {% endif %}
        {% if print_mode %}
            <li>Print ID: <span class="dark">{{ print_id }}</span></li><br />
        {% endif %}
        <li><a href="{{ studio_url }}" target="_blank">[BDR View]</a></li><br />
        {% if book_mode %}
            <li><a href="{{back_to_thumbnail_href}}">return to thumbnail viewer</a></li><br />
            <li><a href="{{back_to_book_href}}">return to book list</a></li><br />
        {% endif %}
        {% if print_mode %}
            <li><a href="{{back_to_print_href}}">return to print list</a>
        {% endif %}
    </ol>
{% endblock %}


{% block content %}
    <br />
    {% if book_mode %}
        <div id="prevnext">
            <a id="prev_page">Loading...</a>
            <a id="next_page">Loading...</a>
        </div>
    {% endif %}
        <div id="image_span" style="float:left;padding-left:20px;width:60%;margin-bottom:20px;">
        <iframe src={{ det_img_view_src}} width="100%" height="800" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div id="metadata" style="float:left;width:36%">
            {% if user.is_authenticated %}
            <div class="new_annotation_link"><a href="{{ create_annotation_link }}" style="float:right;">Create New Annotation</a></div>
            {% endif %}
            <ul style="list-style:none">
            {% for annotation in annotations %}
                <li>
                    
                {% if annotation.has_elements.title %}
                <div style="margin-bottom:10px; font-size:125%; text-align:center;">
                  <b>{{ annotation.orig_title }}</b>{% if user.is_authenticated %} (<a href="{{ annotation.edit_link }}">Edit</a>){% endif %}
                </div>
                {% if annotation.title %}
                <div style="margin-bottom:5px; font-size:100%; text-align:center;"><i> {{ annotation.title }} </i></div>
                {% endif %}
                {% endif %}
                
                {% for name in annotation.names %}
                    <div style="margin-bottom:5px"><b>{{ name.role }}:</b> <a href="{% url 'person_detail' name.trp_id %}">{{ name.name }}</a></div>
                {% endfor %}
                
                {% if annotation.has_elements.abstract %}
                <div style="margin-bottom:5px"><b>Abstract:</b> {{ annotation.abstract }} </div>
                {% endif %}
                
                {% if annotation.has_elements.genre%}
                <div style="margin-bottom:5px"><b>Genre:</b> {{ annotation.genre }} </div>
                {% endif %}
                
                {% if annotation.has_elements.origin %}
                <div style="margin-bottom:5px"><b>Origin:</b> {{ annotation.origin }} </div>
                {% endif %}
                
                {% if annotation.has_elements.annotations %}
                <div style="margin-bottom:5px"><b>Annotations:</b></div>
                <ul>
                {% for annot in annotation.annotations %}
                <li style="margin-bottom:5px">{{ annot }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                
                {% if annotation.has_elements.inscriptions %}
                <div style="margin-bottom:5px"><b>Inscriptions:</b></div>
                <ul>
                {% for insc in annotation.inscriptions %}
                <li style="margin-bottom:5px">{{ insc }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                
                <div style="margin-bottom:5px"><a href={{ annotation.xml_uri }} target="_blank">[View XML]</a></div>
                
                {% if annotation.has_elements.annotator %}
                <div style="margin-bottom:5px"><i>[{{ annotation.annotator }}]</i></div>
                {% endif %}
                <br />
                <br />
                </li>
            {% endfor %}
            </ul>
        </div>
{% endblock %}
