<head>
<title>{{title}}</title>
<script type="text/javascript">
window.onload=load;
var curr_page;
function load()
{
    curr_page={{ curr_page }};
    show_page(curr_page);
}

function show_page(i)
{
    var old_page, new_page, max_num, buttons;
    old_page=document.getElementById("page_"+curr_page);
    old_page.style.display="none";
    
    new_page=document.getElementById("page_"+i);
    new_page.style.display="block";
    curr_page=i;
    
    buttons=document.getElementsByClassName("page_button");
    for(var j=0;j<buttons.length;j++)
        buttons[j].style.background="#aaaaaa"
    buttons[parseInt(i)-1].style.background='#888888';

    max_num={{ num_bios }};
    
    document.getElementById("bios_shown").innerHTML=((parseInt(i)-1)*{{ bios_per_page }}+1)+"-"+(Math.min(parseInt(i)*{{ bios_per_page }}+1, max_num));
    
    document.getElementById("curr_page_span").innerHTML=i;
}

</script>
</head>
{% load static from staticfiles %}
{% load url from future %}
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />

<body>
    <div id="page_head">
        <h1>
            <span class="repeatbg"><span class="leftcap"><a href="../">The Theater that was Rome - People</a></span></span>
        </h1>
        <div style="font-size:15px; margin-left:20px; width:95%; padding-top:15px; padding-bottom:10px">
            {{page_documentation}}
        </div>
        <div style="font-size:15px; margin-left:20px; padding-top:15px; padding-bottom:10px">
            {% for i in page_range %}
                <button id="page_button_{{i}}" class="page_button" onclick="show_page({{i}})">{{i}}</button>
            {% endfor %}
            &nbsp showing <span id="bios_shown"></span> of {{num_bios}} biographies; on page <span id="curr_page_span">1</span>
        </div>
    </div>
    <div id="page_body">
        {% for page in page_list %}
        <div id="page_{{forloop.counter}}" num="{{forloop.counter}}" style="display:none;">
            <ol>
                {% for bio in page %}
                <li value={{bio.number_in_list}}>
                    <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}">
                        <a href="{% url 'person_detail' bio.trp_id %}">
                            [View]
                        </a>&nbsp
                        <span class="dark">{{ bio.name }} {{ bio.date }} {{ bio.role }}</span>
                        <br />
                        Biography ID: {{ bio.pid }}
                    </span>
                    <br />
                    <br />
                </li>
                {% endfor %}
            </ol>
        </div>
        {% endfor %}
    </div>
    <div id="footer">
	    <span>&#169; {{cpydate}} Brown University</span>
	    <a href="http://www.brown.edu"><img src="{%static brown_image%}" alt="Brown University" /></a>
	    <a href="http://www.stg.brown.edu"><img src="{%static stg_image%}" alt="Scholarly Technology Group" /></a>
	</div>
</body>
