{% extends "rome_templates/base.html"%}
{% load url from future %}

{% block javascript %}
<script type="text/javascript">
window.onload=load;
var curr_page;
function load()
{
    curr_page={{ curr_page }};
    show_page(curr_page);
    show_sorting('{{ sorting }}');
    show_collection('{{ collection }}')
}
function expand_title(page_num,num_on_page)
{
    var spans=document.getElementsByTagName("span");
    var i;
    for(i=0;i<spans.length;i++)
    {
        if(spans[i].getAttribute("num")==page_num+"_"+num_on_page)
        {
            spans[i].style.display="none";
            break;
        }
    }
    document.getElementById(page_num+"_"+num_on_page+"_full").style.display="inline";
}

function show_page(i)
{
    var old_page, new_page, max_num, buttons;
    old_page=document.getElementById("page_"+curr_page);
    old_page.style.display="none";
    
    new_page=document.getElementById("page_"+i);
    new_page.style.display="block";
    curr_page=i;
    
    buttons=document.getElementsByClassName("page_button");
    for(var j=0;j<buttons.length;j++)
        buttons[j].style.background="#aaaaaa"
    buttons[parseInt(i)-1].style.background='#888888';

    max_num={{num_prints}};
    
    document.getElementById("prints_shown").innerHTML=((parseInt(i)-1)*{{ prints_per_page }}+1)+"-"+(Math.min(parseInt(i)*{{ prints_per_page }}, max_num));
    
    document.getElementById("curr_page_span").innerHTML=i;
}

function show_sorting(sorting)
{
    var links=document.getElementsByClassName("sort_link");
    for(var i=0;i<links.length;i++)
        links[i].style.fontWeight="normal";
    document.getElementById("sort_"+sorting).style.fontWeight="bold";
}

function show_collection(collection)
{
    var links=document.getElementsByClassName("sort_collection");
    for(var i=0;i<links.length;i++)
        links[i].style.fontWeight="normal";
    document.getElementById("collection_"+collection).style.fontWeight="bold";
}
</script>
{% endblock %}

{% block extra_head %}
<style type="text/css">
    #cookietrail {
        display: none;
    }
</style>
{% endblock %}

{% block page_title%}The Theater that was Rome - Prints{% endblock %}

{% block pagination %}
{% for i in page_range %}
    <button id="page_button_{{i}}" class="page_button" onclick="show_page({{i}})">{{i}}</button>
{% endfor %}
&nbsp showing <span id="prints_shown"></span> of {{num_prints}} prints; on page <span id="curr_page_span">1</span>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Sort by:&nbsp
<a id="sort_authors" class="sort_link" href="{% url 'prints' %}?sort_by=authors&collection={{ collection }}">Author</a> |
<a id="sort_title"   class="sort_link" href="{% url 'prints' %}?sort_by=title&collection={{ collection }}">Title</a> |
<a id="sort_date"    class="sort_link" href="{% url 'prints' %}?sort_by=date&collection={{ collection }}">Date</a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Collection:&nbsp;
<a id="collection_chinea" class="sort_collection" href="{% url 'prints' %}?collection=chinea&sort_by={{ sorting }}">Chinea</a> |
<a id="collection_not" class="sort_collection" href="{% url 'prints' %}?collection=not&sort_by={{ sorting }}">Non-Chinea</a> |
<a id="collection_both" class="sort_collection" href="{% url 'prints' %}?collection=both&sort_by={{ sorting }}">Both</a>
{% endblock %}


{% block content %}
{% for page in page_list %}
<div id="page_{{forloop.counter}}" num="{{forloop.counter}}" style="display:none;">
    <ol>
        {% for pprint in page %}
        <li value={{pprint.number_in_list}}>
            <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}">
                <a href="{{ pprint.thumbnail_url }}?prints_list_page={{forloop.parentloop.counter}}&collection={{collection}}">
                    [View]
                </a>&nbsp
                Author(s): <span class="dark">{{ pprint.authors }}</span><br />
                Title:
                <span class="dark">
                    <span num="{{forloop.parentloop.counter}}_{{forloop.counter}}">{{ pprint.short_title }}
                        {% if pprint.title_cut %}
                        <span class="more_button"
                                onclick="expand_title('{{forloop.parentloop.counter}}','{{forloop.counter}}')">
                                [more]
                        </span>
                        {% endif %}
                    </span>
                    <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}_full" style="display:none;">
                        {{ pprint.title }}
                    </span>
                </span>
                <br />
                Date: <span class="dark">{{ pprint.date }}</span> <br />
                <a href={{ pprint.studio_uri }} target="_blank">[More info]</a>,
                <br />
                Object ID: {{ pprint.id }}
                {% if pprint.in_chinea %}
                <br />
                This print is in the Chinea collection.
                {% endif %}
            </span>
            <br />
            <br />
        </li>
        {% endfor %}
    </ol>
</div>
{% endfor %}
{% endblock %}
