<head>
<title>{{title}}</title>
<script type="text/javascript">
window.onload=load;
var curr_page;
function load() {
    curr_page=1;
    show_page(1);
}
function expand_title(title,num) {
    var spans=document.getElementsByTagName("span");
    var i;
    for(i=0;i<spans.length;i++)
    {
        if(spans[i].getAttribute("num")==num)
        {
            spans[i].innerHTML=title;
            break;
        }
    }
}
function show_page(i) {
    var old_page=document.getElementById("page_"+curr_page);
    old_page.style.display="none";
    
    var new_page=document.getElementById("page_"+i);
    new_page.style.display="block";
    curr_page=i;
}
</script>
</head>
{% load static from staticfiles %}
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />

<body>
    <div id="page_head">
        <h1>
            <span class="repeatbg"><span class="leftcap"><a href="../">The Theater that was Rome</a></span></span>
        </h1>
        <div id="cookietrail">
            <ol>
                <li>Search</li>
            </ol>
        </div>
    </div>
    <div id="page_body">
        <div style="text-align:center;">
            <input type="text" style="width:50%;height:30px;font-size:20px;" placeholder="Search anything! e.g. Aldini" />
            <button id="search_button" onclick="">search</button>
        </div>
        <div style="text-align:center">
            <form action="../search/" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>
    <div id="footer">
	    <span>&#169; {{cpydate}} Brown University</span>
	    <a href="http://www.brown.edu"><img src="{%static brown_image%}" alt="Brown University" /></a>
	    <a href="http://www.stg.brown.edu"><img src="{%static stg_image%}" alt="Scholarly Technology Group" /></a>
	</div>
</body>