<head>
<title>{{title}}</title>
</head>
{% load static from staticfiles %}
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />
<link rel="stylesheet" href="{%static usr_essays_style%}" type="text/css" media="screen" />
<body>
    <div id="page_head">
        <h1>
            <span class="repeatbg"><span class="leftcap"><a href="../">The Theater that was Rome</a></span></span>
        </h1>
    </div>
    <div id="cookietrail">
        <ol>
            <li><a href="../">Back to essays</a></li>
        </ol>
    </div>
    <div id="page_body">
        {% block essay %}{% endblock %}
    </div>

<div id="footer">
    <span>&#169; {{cpydate}} Brown University</span>
    <a href="http://www.brown.edu"><img src="{%static brown_image%}" alt="Brown University" /></a>
    <a href="http://www.stg.brown.edu"><img src="{%static stg_image%}" alt="Scholarly Technology Group" /></a>
</div>

</body>