<head>
<title>{{title}}</title>
<script type="text/javascript">
window.onload=load;
var curr_page;
function load()
{
    curr_page={{curr_page}};
    show_page(curr_page);
}
function expand_title(page_num,num_on_page)
{
    var spans=document.getElementsByTagName("span");
    var i;
    for(i=0;i<spans.length;i++)
    {
        if(spans[i].getAttribute("num")==page_num+"_"+num_on_page)
        {
            spans[i].style.display="none";
            break;
        }
    }
    document.getElementById(page_num+"_"+num_on_page+"_full").style.display="inline";
}
function show_page(i)
{
    var old_page=document.getElementById("page_"+curr_page);
    old_page.style.display="none";
    
    var new_page=document.getElementById("page_"+i);
    new_page.style.display="block";
    curr_page=i;
}
</script>
</head>
{% load static from staticfiles %}
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />

<body>
    <div id="page_head">
        <h1>
            <span class="repeatbg"><span class="leftcap"><a href="../">The Theater that was Rome</a></span></span>
        </h1>
        <div id="cookietrail">
            <ol>
                <li>Books</li>
                <li>
                    {% for i in page_range %}
                        <button onclick="show_page({{forloop.counter}})">{{i}}</button>
                    {% endfor %}
                    &nbsp showing {{books_per_page}} books per page, {{num_books}} total
                <li>
            </ol>
        </div>
    </div>
    <div id="page_body">
        {% for page in page_list %}
        <div id="page_{{forloop.counter}}" num="{{forloop.counter}}" style="display:none;">
            <ol>
                {% for book in page %}
                <li value={{book.number_in_list}}>
                    <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}">
                        Author(s): <span class="dark">{{ book.authors }}</span><br />
                        Date: <span class="dark">{{ book.date }}</span> <br />
                        Title:
                        <span class="dark">
                            <span num="{{forloop.parentloop.counter}}_{{forloop.counter}}">
                                {{ book.short_title }}
                                {% if book.title_cut %}
                                <span class="more_button"
                                        onclick="expand_title({{forloop.parentloop.counter}},{{forloop.counter}})">
                                        [more]
                                </span>
                                {% endif %}
                            </span>
                            <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}_full" style="display:none;">
                                {{ book.title }}
                            </span>
                        </span>
                        <br />
                        More info:
                            <a href={{ book.studio_uri }} target="_blank">Click here</a><br />
                        Viewers:
                            <a href="{{ book.thumbnail_url_start }}_{{forloop.parentloop.counter}}_{{forloop.counter}}" target="_blank">
                                Thumbnail Viewer
                                </a>,
                            <a href={{ book.port_url }} target="_blank">Portfolio Viewer</a>, 
                            <a href={{ book.book_url }} target="_blank">Book Viewer</a>
                    </span>
                    <br />
                    <br />
                </li>
                {% endfor %}
            </ol>
        </div>
        {% endfor %}
    </div>
    <div id="footer">
	    <span>&#169; {{cpydate}} Brown University</span>
	    <a href="http://www.brown.edu"><img src="{%static brown_image%}" alt="Brown University" /></a>
	    <a href="http://www.stg.brown.edu"><img src="{%static stg_image%}" alt="Scholarly Technology Group" /></a>
	</div>
</body>