<head>
<title>{{title}}</title>
<script type="text/javascript">
function expand_title(title,num)
{
    var spans=document.getElementsByTagName("span");
    var i;
    for(i=0;i<spans.length;i++)
    {
        if(spans[i].getAttribute("num")==num)
        {
            spans[i].innerHTML=title;
            break;
        }
    }
}
</script>
</head>
{% load static from staticfiles %}
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />

<body>
    <div id="page_head">
        <h1>
            <span class="repeatbg"><span class="leftcap"><a href="../">The Theater that was Rome</a></span></span>
        </h1>
        <div id="cookietrail">
            <ol>
                <li>Title: <span class="dark">{{ title }}</span></li><br />
                <li>Author(s): <span class="dark">{{ authors }}</span></li><br />
                <li>Date: <span class="dark">{{ date }}</span></li><br />
                {% if book_mode %}
                    <li>Book ID: <span class="dark">{{ pid }}</span></li><br />
                {% endif %}
                {% if print_mode %}
                    <li>Print ID: <span class="dark">{{ pid }}</span></li><br />
                {% endif %}
                {% if book_mode %}
                    <li><a href="{{back_to_thumbnail_href}}">return to thumbnail viewer</a></li><br />
                    <li><a href="{{back_to_book_href}}">return to book list</a></li><br />
                {% endif %}
                {% if print_mode %}
                    <li><a href="{{back_to_print_href}}">return to print list</a>
                {% endif %}
            </ol>
        </div>
    </div>
    <br />
    {% if book_mode %}
    <div>
        <span id="image_span" style="float:left;padding-left:20px;padding-right:20px;width:60%">
        <a href="{{det_img_view_src}}"><img src={{ lowres_url }} width="100%"/></a>
        </span>
        <span id="metadata" style="float:left;width:36%">
            <ul style="list-style:none">
            {% for annotation in annotations %}
                <li>
                    
                {% if annotation.has_elements.title %}
                <div style="margin-bottom:5px"><b>Title:</b> {{ annotation.title }}</div>
                {% endif %}
                
                {% for name in annotation.names %}
                <div style="margin-bottom:5px"><b>{{ name.role }}:</b> {{ name.name }}</div>
                {% endfor %}
                
                {% if annotation.has_elements.abstract %}
                <div style="margin-bottom:5px"><b>Abstract:</b> {{ annotation.abstract }} </div>
                {% endif %}
                
                {% if annotation.has_elements.origin %}
                <div style="margin-bottom:5px"><b>Origin:</b> {{ annotation.origin }} </div>
                {% endif %}
                
                {% if annotation.has_elements.annotations %}
                <div style="margin-bottom:5px"><b>Annotations:</b></div>
                <ul>
                {% for annot in annotation.annotations %}
                <li style="margin-bottom:5px">{{ annot }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                
                {% if annotation.has_elements.inscriptions %}
                <div style="margin-bottom:5px"><b>Inscriptions:</b></div>
                <ul>
                {% for insc in annotation.inscriptions %}
                <li style="margin-bottom:5px">{{ insc }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                
                <div style="margin-bottom:5px"><a href={{ annotation.xml_uri }} target="_blank">[View XML]</a></div>
                
                {% if annotation.has_elements.annotator %}
                <div style="margin-bottom:5px"><i>[{{ annotation.annotator }}]</i></div>
                {% endif %}
                <br />
                </li>
            {% endfor %}
            </ul>
        </span>
        <!-- <iframe src={{ det_img_view_src}} width="80%" height="800"></iframe> -->
    </div>
    {% endif %}
    {% if print_mode %}
    <div id="page_body">
        <!-- <span id="image_span" style="float:left;padding-left:20px;padding-right:20px;width:60%">
        <a href="{{det_img_view_src}}"><img src="{{ lowres_url }}" width="100%"/></a>
        </span> -->
        <iframe src={{ det_img_view_src}} width="80%" height="800"></iframe>
    </div>
    {% endif %}
    
    <div id="footer">
	    <span>&#169; {{cpydate}} Brown University</span>
	    <a href="http://www.brown.edu"><img src="{%static brown_image%}" alt="Brown University" /></a>
	    <a href="http://www.stg.brown.edu"><img src="{%static stg_image%}" alt="Scholarly Technology Group" /></a>
	</div>
</body>