{% load static from staticfiles %}
<html>
<head>
<title>{{title}}</title>
<script type="text/javascript" language="javascript" src="{% static 'rome/Saxonce/Saxonce.nocache.js' %}"></script>
<script type="text/javascript">
window.onload=load;
function load()
{

    
   // document.getElementById("bios_shown").innerHTML=((parseInt(i)-1)*{{ bios_per_page }}+1)+"-"+(Math.min(parseInt(i)*{{ bios_per_page }}+1, max_num));
    
   // document.getElementById("curr_page_span").innerHTML=i;
}

</script>
</head>
<link rel="stylesheet" href="{%static usr_style%}" type="text/css" media="screen" />

<body>
    <div id="page_head">
        <h1>
            <span class="repeatbg"><span class="leftcap"><a href="../">The Theater that was Rome - People</a></span></span>
        </h1>
        <div style="font-size:15px; margin-left:20px; width:95%; padding-top:15px; padding-bottom:10px">
            {{page_documentation}}
        </div>
    </div>
    <div id="page_body">
        <div id="author_info">
            <script type="application/xslt+xml" language="xslt2.0" src="{%static 'rome/bio.xslt' %}" data-source="{% url 'person_detail_tei' trp_id %}"></script>
        </div>
        <div id="related_sources">
            <h2>Related Resources</h2>
        </div>
    </div>
    <div id="footer">
	    <span>&#169; {{cpydate}} Brown University</span>
	    <a href="http://www.brown.edu"><img src="{%static brown_image%}" alt="Brown University" /></a>
	    <a href="http://www.stg.brown.edu"><img src="{%static stg_image%}" alt="Scholarly Technology Group" /></a>
	</div>
</body>
</html>
