
/*
  * BODY
  */
	
#page_body {
	clear: both;
	}

#page_head ul, ol,
#page_body ul, ol{
	padding: 0 50px 0;
	}

#page_head li {
	/*margin-bottom: 6px;*/
/*	list-style-type: square;*/
	color: #a89983;
	}
	
#page_head li .dark,
#page_body li .dark {
	color: #3e3a2e;
	}
	
	
	/*
	 * SORT
	 */
	 
.sort_active {
	font-weight: bold;
}
ul#sort {
	margin: -10px 10px 0;
	padding: 0 0 55px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	}

#sort li {
	list-style: none;
	margin: 0;
	}
	
#sort li#sorttitle {
	float: right;
	margin: 5px 7px;
	font-style: italic;
	}
	
#sort a {
	display: block;
	float: right;
	width: 72px;
	/*height: 37px;*/
	margin: 0;
	color: #302e27;
	background: #c8c3b4 url(../images/sortlist-left.gif) no-repeat top left;
	}
	
#sort a span {
	display: block;
	padding: 11px 6px;
	/*height: 37px;*/
	text-align:center;
	background: url(../images/sortlist-right.gif) no-repeat top right;
	}
	
#sort a:hover {
	text-decoration: none;
	background-color: #9e9782;
	color: #000;
	}
	
#sort a:active {
	background-color: #857f6d;
	}
	
p {
	margin: 0 40px 0px;
	line-height: 18px;
	padding-bottom: 5px;
	}

/* this is for the author name in a bio */
p.resp {
    text-align:right;
    font-style:italic;
    }


a.bookEssay {
	color: black;
}

.more_button
{
	cursor:pointer;
}

/*
 * For thumbnail viewer
 */
.img_container{
  float:left;
  margin-bottom:5px;
  padding-bottom:5px;
  text-align:center;
}
.img_container:hover {
  background:rgba(0,0,0,.1);
}

.img_container img {
  margin:5px;
  padding-left:5px;
  height: 150px;
}

/*
 * For page_detail
 */
a#prev_page {
    display: block;
    width: 30px;
    margin: 5px;
    margin-left: 3%;
    float:left;
    font-size: 12pt;
}

a#next_page {
    display: block;
    width: 30px;
    margin:5px;
    margin-left: 50%;
    float:left;
    font-size: 12pt;
}

div#prevnext {
    margin: 5px;
    height: 20px;
    text-align: center;
}

div#image_span {
	float:left;
	padding-left:20px;
	width:60%;
	margin-bottom:20px;
}

#metadata {
	float:left;
	width:36%;
}

#metadata ul {
	list-style:none;
}

.annot_title {
	margin-bottom:10px;
	font-size:125%;
	text-align:center;
}

.annot_subtitle {
	margin-bottom:5px;
	font-size:100%;
	text-align:center;
}

.annot_field {
	margin-bottom:5px;
}

.new_annotation_link a {
	float: right;
}
