
body {
	margin: 0;
	}

h1 {
	background: #70675d url(../images/main-header-gradient.gif) repeat-x bottom; 
	border-bottom: 2px solid #432826;
	color: #f9f5e7;
	font-size: 36px;
	font-variant: small-caps;
	font-weight: normal;
	margin: 0;
	padding: 11px 30px 7px;
	text-align: center;
}

#page_body {
	margin-left: 30px;
}

#sitenav {
	float: left;
	margin-bottom: 30px;
	font-family: medium Georgia, "Times New Roman", Times, serif;
}

#sitenav ul {
	list-style-type: none;
	/*float: left;*/
	
}

#sitenav ul li {
	display: block;
	width:320px;
	font-size: large;
	line-height: 2em;
	color: #999;
}

#sitenav ul li a{
	border-bottom: 1px dotted #a19e96;
	color: #3e3a2e;;
	display: block;
	padding-left: 1px;
	text-decoration: none;
}

#sitenav ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid #5d554b;
	color: #803833;
}

#sitenav ul li.inactive {
	border-bottom: 1px dotted #a19e96;
	}

#engraving {
	float: left;
	margin: 6px 0 0 30px;
	}
#footer {
	margin-top: 500px;
}
