{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}
{% load markdown_deux_tags %}
{% block extra_head %}
<style type="text/css">
    .pagination, .intro, #cookietrail {
        display: none;
    }
    #about{
        margin:5%;
        margin-left:6.5%;
        padding:5px;
        font-weight: 200;
        background:#F2D69E;
        border-style:solid;
        border-width:1px;
        border-color:#D64833;
    }
    .page_icon {
        background: url({% static 'rome/images/about.png' %});
        background-size: contain;
        background-repeat:no-repeat;
    }

</style>
{% endblock %}

{% block content %}
<div id="about">
    <h2>{{about_title}}</h2>
    {{about_text|markdown}}
   
    <h2>People</h2>
    <p>Evie Lincoln (History of Art and Architecture), Faculty Lead</p>
    <p>Brian Repetto (GS, History of Art and Architecture)</p>
    <p>Robert Gordon-Fogelson '12</p>
    <p>Cliff Wulfman (STG)</p>
    <p>James Stout (STG)</p>
    <p>Elli Mylonas (STG, CDS)</p>
    <p>Patrick Yott (CDI, CDS)</p>
    <p>Ann Caldwell (CDI, CDS)</p></div>
{% endblock content %}
