{% extends "rome_templates/base.html"%}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}{{title}}{% endblock %}
{% block page_title %}The Theater that was Rome - People{% endblock %}

{% block extra_head %}
<style type="text/css">


    div#page_body{
        padding:15px;
        padding-left:0px;
        margin-left: 5%;
    }


    .page_icon {
        background: url({% static 'rome/images/people.png' %});
        background-size: contain;
        background-repeat:no-repeat;
    }

    td {
        font-size: 11px;
    }
    table {
        width: 80%;
        margin-left: 20px;
        margin-top: 10px;
    }
    img {
        margin: 10px;

    }

    td.thumbnail {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    td.title {
        border-bottom: 1px solid black;
    }

    #page_body div#author_info li {
        color: black;

    }

       #page_body li {
        margin-left:5px;
        margin-right:5px;
        position: relative;

        padding: 5px;

    
        min-width: 80%;
        max-width: 80%;
        height:auto;
        display: inline-block;
        font-weight:300;
        font-size:14px;
    }


    #author_info {
        background:#F2D69E;
        font-family:Roboto, sans-serif;
        font-weight:300;
        max-width:900px;
        padding:15px;
        border-style: solid;
        border-width: 1px;
        border-color: #D64833
    }
    li.page_list_item {
        display:inline-block;
        /*margin-bottom: 180px;*/
        list-style: none;
    }

    li.page_list_item b {
        color: black;
    }

    .pagination, .intro, #cookietrail {
        display: none;
    }

     #relatedworks {
        display: inline-block;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
    }

    h2 {
        font-family:Roboto;
        font-size:20px;
        color:#D64833;
    }

    h3 {
        font-family:Roboto;
        color:#D64833;
        font-weight:300;

    }

    #author_info ul, ol{
        padding-left:50px;
    }
    div#page_head h1{
        height:30px;
        padding-top:30px;
        padding-bottom:20px;
    }

    #gradient{
        position:relative;
        height:100%;
        width:100%;
        -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    }

    button{
        width:25px;
        height:25px;
        font-size:25px;
        background:#F9EDD2;
        border-color:#D64833;
        border-style:solid;
        color:#D64833;
        margin-top:-30px;
        position:absolute;
        margin-left:30px;
        outline: none;
    }

    #roles{
        font-weight:300;
        margin-left:5px;
        color:#A89B8A;
    }

    #headleft {
        /*position:relative;*/
        /*display:inline-block;*/
        /*vertical-align: top;*/
        /*float:left;*/
        max-width:50%;
        margin:5px;
        min-height:100%;

    }

    #essays{
        display: inline-block;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
        margin:0px;
        max-width:50%;
    }

    .essay{
        border:1px solid;
        border-color: #c2b99d;
        margin:3px;
        padding:5px;
    }

    .essay li {
        list-style-type:none;
    }

    #page_head li {
        font-size:13px;
        color:#553512;
    }

      .headright {
        /*position is what was causing the glitch*/
    /*    position:absolute;
        top:0px;
        right:0px;*/
        float:right;
        display:inline-block;
        vertical-align: top;
        margin:5px;
        max-width:60%;
        

    }

    #headleft {
      
        top:0px;
        left:0px;
        display:inline-block;
        vertical-align: top;
        float:left;
        max-width:50%;
        margin:5px;
        min-height:100%;

    }

  .work {
        border:1px solid;
        border-color: #c2b99d;
        margin:3px;
        padding:5px;
    }

    .work li {
        list-style-type:none;

    }

      div.pagination_rome {
        overflow:hidden;
        height:100%;
        z-index:10;
    }

#relatedworks {
        display: inline-block;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
    }

    #relatedpeople {
        display: inline-block;
        max-width:50%;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
        min-width:100px;
    }

      #trail {
        float:right;
        padding:10px;
    }

       pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow-wrap: break-word;
  overflow: scroll;

}

    pre > code {
        overflow-wrap: break-word;
        overflow: scroll;
}
</style>

{% endblock %}

{% block javascript %}
<script>
    $(window).on("load", function() {
        var fullHeight =  $("#page_head > div.pagination_rome").height();

        if (fullHeight < 200) {
            $("button").hide();
            $("#page_head > div.pagination_rome").removeClass('hide');
            $("#page_head > div.pagination_rome").css('height',fullHeight);
            $("#gradient").css("-webkit-mask-image", "-webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)))");
        }
        else {
        $("#page_head > div.pagination_rome").addClass('hide');
        $("#page_head > div.pagination_rome").css('height','50');
    }
        


        $("button").click(function(){
            if( $("#page_head > div.pagination_rome").hasClass('hide')) {
                $("#page_head > div.pagination_rome").animate({height:fullHeight},200).removeClass('hide');
                $("#gradient").css("-webkit-mask-image", "-webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)))");
            } else {
                $("#page_head > div.pagination_rome").animate({height:50},200).addClass('hide');
                $("#gradient").css("-webkit-mask-image", "-webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))");
            }

            $("button").text(function(i, text){
                return text === "˅" ? "˄" : "˅";
            })
        });
    });
</script>
{% endblock javascript %}
{% block pagination %}
<div id="gradient">
        <span id="trail"><a href="../">Back to biographies</a></span>

        {% if books or prints or pages_books %}

        <div id="headleft"> 
            <h3>Books and Prints</h3>
            {% if books %}
            <div id="relatedworks">

 {% for book in books %}
            <div class="work">
             <li><span style="color:#D64833;">Title:</span> {# {% if work.ppid %}<a href="{% url 'thumbnail_viewer' work.ppid%}">{{work.title}}</a>{% else %} #}{{book.title}}{# {% endif %} #}</li>
             <li><span style="color:#D64833;">Author:</span> {{book.authors}}</li>
            <li><span style="color:#D64833;">Genre:</span> {{book.genre}}</li>
            <li>{{book.pid}}</li>
            </div>

           {% endfor %}
       </div>
            {% endif %}
            {% if prints %}
            <h4>Prints</h4>
            <ul>
            {% for print in prints %}
                <li><b><a href="{% url 'specific_print' print.id %}" target="_blank">{{print.title}}</a></b></li>
            {% endfor %}
            </ul>
            {% endif %}

            </div>
            <div id="headright">
           {% if pages_books%}
            <h2>Pages</h2>
            <ul>
            {% for key,book in pages_books.items %}
            <li class="page_list_item"><h3><a href="{% url 'thumbnail_viewer' key %}" target="_blank">In {{book.title}}</a> ({{ book.pages|length }}):</h3><br/>
            <table>
            {% for num,page in book.pages %}

                <div class="img_container">
                    <a href="{% url 'book_page_viewer' key page.id %}" target="_blank"><img height='150px' src="{{page.thumb}}"/></a>
                    <br/>
                   Image {{ num }}
                    <!--<a href="{% url 'book_page_viewer' key page.id %}" target="_blank">{{page.title}}</a>-->
                </div>

            {% endfor %}
            </table>
            {% endfor %}
            </ul>
            </li>
            {% endif %}
        </div>
         </div>

            
        {% endif %}
   </div>
{% endblock pagination %}
{% block content %}
<button>˅</button>
    <div id="author_info">
        <div id="roles"><i>{{bio.roles}}</i></div>
        <p>{{bio.bio|markdown}}</p>
    </div>
  
{% endblock %}
