{% extends "rome_templates/result_base.html" %}
{% load static from staticfiles %}

{% block title%}The Theater that was Rome - Books{% endblock %}

{% block result_title%}
{{result.short_title}} {% if result.partnumber %} ({{result.partnumber.0}}){% endif %}
{% endblock %}

{% block extra_head %}
<style>
.page_icon {
    background: url({% static 'rome/images/books.png' %});
}


</style>
{% endblock %}
{% block metadata%}
          <span class="dark">{% if result.name %}{% for author in result.name %}{% if forloop.last and not forloop.first %}and {{author}}.{% elif not forloop.last%}{{author}}; {% elif forloop.first and forloop.last %}{{author}}{% endif %}{% endfor %}{% else %}Anonymous{% endif %}</span><br />
          <span class="dark">{{ result.date }}</span><br />
{% endblock %}
{% block intro %}
Click on "View" to see thumbnails of all the pages of a book. Click "Library View" to see the default repository entry for a book.
{% endblock %}

{% block extra%}
<span class="dark">Full Title:</span>
        <span num="{{forloop.parentloop.counter}}_{{forloop.counter}}">{{ result.short_title }}
            {% if result.title_cut %}
            <span class="more_button"
                    onclick="expand_title('{{forloop.parentloop.counter}}','{{forloop.counter}}')">
                    [more]
            </span>
            {% endif %}
        </span>
        <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}_full" style="display:none;">
            {{ result.title }}
        </span>

<br />

{% for atitle  in result.alt_titles %}
{% if forloop.first %}
Alternative Title(s):<br />
{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;<span class="dark">{{atitle}}</span><br />
{% endfor %}
{% endblock %}

{% block sort_by_field%}

{% if sorting == 'title' %}
{{result.primary_title}}

{% elif sorting == 'authors' %}
{{result.authors}}

{% elif sorting == 'date' %}
{{result.date}}

{% else %}
{{result.primary_title}}

{% endif %}
{% endblock %}