{% extends "rome_templates/base.html" %}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block title %}{{book.title}}{% endblock %}

{% block page_title %}The Theater that was Rome - Thumbnail Viewer{% endblock %}

{% block extra_head %}
  <style>
    .intro, .pagination {
      display: none;
    }

    .annotated {
    -webkit-box-shadow:inset 0px 0px 0px 2px #D64833;
        -moz-box-shadow:inset 0px 0px 0px 2px #D64833;
        box-shadow:inset 0px 0px 0px 2px #D64833;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        /*margin-left:0px;*/
        /*margin-right:3px;*/
        border-radius:3px;
        /*padding-bottom:2px;*/
        /*margin-top:0px;*/
        margin:5px;
        padding-left:5px;
    }

    .annotated:hover {
      background-color: rgba(154,38,0,0.4)
    }

    div#page_head h1{
        height:30px;
        padding-top:30px;
        padding-bottom:20px;
    }


    .page_icon {
        background: url({% static 'rome/images/books.png' %});
    }

    div#page_head {
        padding-bottom: 20px;
    }

    div#page_head{
        padding-bottom:20px;
        font-family: Roboto, sans-serif;
        font-weight: 200;
        font-size:14px;
    }

    div#page_body{
        padding:15px;
        padding-left:0px;
        margin-left: 5%;
    }

      #authors{
          float:right;
          max-width:350px;
          background:#F2D69E;
          margin-right:15%;
          padding:10px;
          border-style:solid;
          border-width:1px;
          border-color:#D64833;


      }


      .img_container {
          margin-top:9px;
      }


      #titledate{
          max-width:40%;
          display:inline-block;
          color: #D64833;
          font-weight:300;


      }

      #return{
          position:absolute;
          top:100px;
          right:5px;
      }

  </style>
  
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var bdr_url = "http://repository.library.brown.edu/api/pub/items/";

  $(document).ready(function() {
    add_toggle_handlers();
  });

  function mark_annotated(data) {
    for (var i = 0; i < data.response.numFound; i++) {
      var id = data.response.docs[i].rel_is_annotation_of_ssim[0].split(":")[1];
      $("#"+id).addClass("annotated");
    }
  }

  function cover_display (data) {
    if (data.relations.hasAnnotation) {
      var annot = data.relations.hasAnnotation[0];
      // Front cover has annotation and might do something about this later...
    }
  }

  function add_toggle_handlers(){
    $(".essaytoggle").on('click', function(){
        var id = $(this).attr('id');
        var slug = id.substring(6);
        var textid = "essaytext" + slug;
        var linkid = "essaylink" + slug;
        var hideid = "essayhide" + slug;
        $("#" + id).toggle();
        $("#" +textid).toggle();
        $("#" +linkid).toggle();
        $("#" +hideid).toggle();
        $("#" +textid).children().css('display', 'none');
        $('#' +textid+ " > h2:first-of-type").css('display', 'block');
        $("#" +textid+ " > p:first-of-type").css('display', 'block');
        $(".underlinewrap").css("border-bottom", "1px dotted");
    });
    $(".essayhide").on('click', function(){
        var id = $(this).attr('id');
        var slug = id.substring(9);
        var textid = "essaytext" + slug;
        var linkid = "essaylink" + slug;
        var toggleid = "toggle" + slug;
        $("#" + toggleid).toggle();
        $("#" +textid).toggle();
        $("#" +linkid).toggle();
        $("#" + id).toggle();
        $("#" +textid).children().css('display', 'none');
        $('#' +textid+ " > h2:first-of-type").css('display', 'block');
        $("#" +textid+ " > p:first-of-type").css('display', 'block');
        $(".underlinewrap").css("border-bottom", "1px dotted");
    });
  }

</script>
{% endblock %}

{% block cookietrail %}
<ol>
    <div id="titledate">
    <li>Title: <span class="dark">{{ book.title }}</span></li><br />
    {% for atitle  in book.alt_titles %}
      {% if forloop.first %}
      <li>Alternative Title(s):</li><br />
      {% endif %}
      <li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="dark">{{atitle}}</span></li><br />
    {% endfor %}
    <li>Date: <span class="dark">{{ book.date }}</span></li><br />
    </div>
    <div id="authors">
    <li>Author(s): <span class="dark">{{ book.authors }}</span></li><br />
        <li>Book {{ book.id }}</li><br />
        {% for note in book.note %}
        {% if "Vincent" in note %}
        <li>From the collection of Vincent J. Buonnano</li>
        {% endif %}
        {% endfor %}

    </div>
    {% if essays %}
    <br>
      <li>Essays:<span class= "dark">
          {% for essay in essays %}         
            <div id = "toggle{{essay.slug}}" class = "essaytoggle"><span class = "underlinewrap" id="togspan{{essay.slug}}">{{essay.title}}</span></div>
            <div id = "essaytext{{essay.slug}}" class = "text">{{essay.text|markdown}}</div>
            <a class = "essaylink" id = "essaylink{{essay.slug}}" href="{% url 'specific_essay' essay.slug %}" target="_blank">Read More</a>
            <div class= "essayhide" id = "essayhide{{essay.slug}}"><span class = "underlinewrap" id="hide{{essay.slug}}">Hide Essay</span></div>
          {% endfor %}
      </li><br />
    {% endif %}

</ol>
<br/>
Pages marked with <span class="annotated">&nbsp;&nbsp;&nbsp;</span> are annotated.
<div id="return"><a href="{{back_to_book_href}}">return to book list</a></div><br />
{% endblock %}


{% block content %}
  {% for page in book.pages %}
    <div class="img_container" id="{{ page.id }}">
        <a href="{{ page.url }}" target="_blank">
            <img src="{{ page.thumbnail_src }}" height="150px"/>
        </a>
        <br />
        Image {{forloop.counter}}
    </div>
  {% endfor %}
  {% for uri in annot_lookups %}
  <script type="text/javascript" src="{{ uri }}"></script>
  {% endfor %}
{% endblock %}
