{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block extra_head%}
<style type="text/css">
    .intro, .pagination {
        display: none;
    }
    .page_icon {
        background: url({% static 'rome/images/essays.png' %});
        background-size: contain;
        background-repeat:no-repeat;
    }

    #essay{
        background:#F9EDD2;
        margin-top:1%;
        margin-left:3.7%;
        padding:5px;
        font-weight: 200;
        border-style:solid;
        border-width:1px;
        border-color:#D64833;
        max-width:800px;
        padding-left:2em;
    }

    #essay ul {
        list-style:circle inside;
    }
    #page_body li {
        margin-left:5px;
        margin-right:5px;
        position: relative;

        padding: 5px;

    
        min-width: 80%;
        max-width: 80%;
        height:auto;
        display: inline-block;
        font-weight:300;
        font-size:14px;
    }

      #people a:hover{
        text-decoration: underline;
    }

     #people {
        margin-bottom:10px;
        margin-top:5px;
    }

    #essay h1 {
       
    }

    #relatedworks {
        display: inline-block;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
    }

    #relatedpeople {
        display: inline-block;
        max-width:50%;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
        min-width:100px;
    }

    h3 {
        color:#D64833;
        font-weight:300;
        margin-top:1em;
    }

    h2 {
        font-weight:300;
        margin-left:0px;
    }

    .headright {
        float:right;
        display:inline-block;
        vertical-align: top;
        margin:5px;
        max-width:60%;
        

    }

    #headleft {
        position:absolute;
        top:0px;
        left:0px;
        display:inline-block;
        vertical-align: top;
        float:left;
        max-width:50%;
        margin:5px;
        min-height:100%;

    }

    #trail {
        float:right;
        padding:10px;
    }

    #relatedpeople li {
        list-style-type:none;
    }
  
    .work {
        border:1px solid;
        border-color: #c2b99d;
        margin:3px;
        padding:5px;
    }

    .work li {
        list-style-type:none;

    }


    div.pagination_rome {
        overflow:hidden;
        height:100%;
        z-index:10;
    
    }
    #gradient{
        position:relative;
        height:100%;
        width:100%;
        -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

    button{
        width:25px;
        height:25px;
        font-size:25px;
        background:#F9EDD2;
        border-color:#D64833;
        border-style:solid;
        color:#D64833;
        margin-top:-30px;
        position:absolute;
        margin-left:30px;
        outline: none;
    }

    div.pagination_rome {
        overflow:hidden;
        height:100%;
        z-index:10;
    }

    #gradient{
        position:relative;
        height:100%;
        width:100%;
        -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

    .img_container {
        display:inline-block;
        float: left;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    }

    .img_container img{
            margin: 5px;
    padding-left: 5px;
    height: 150px;
    }

    #author {
        margin-left:10px;
    }

    pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow-wrap: break-word;
  overflow: scroll;

}

    pre > code {
        overflow-wrap: break-word;
        overflow: scroll;
}
</style>
{% endblock %}


{% block pagination %}
<span id="trail"><a href="/shop_list/">Back to Shops</a></span>
{% endblock %}

{% block content %}
  {% block essay %}

    <div id="essay">

      <h2>{{document.title}}</h2>
      {% if document.consagra %}
        <i>This document belongs to the Consagra collection.</i>
      {% endif %}
      <h3>Summary</h3>
      {{document.summary}}
      {% if people %}
        <h3>People</h3>
        <div id="people">
        {% for person in people %}
          <li><a href="{% url 'person_detail' person.trp_id%}">{{person}}</a></li>
        {% endfor %}
        </div>
      {% endif %}

      <h3>Text</h3>
      {{document.text|markdown}}

      {% if document.document_file or document.document_link %}
        <h3>Files</h3>
      {% endif %}
      {% if document.document_file %}
        <a href="/media/{{document.document_file.url}}" target="_blank">PDF</a> <br>
      {% endif %}
      {% if document.document_link %}
        <a href="{{document.document_link}}" target="_blank">External Document</a>
      {% endif %}

    </div>
     
  {% endblock %}
{% endblock %}
