{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block extra_head%}
<style type="text/css">
    .intro, .pagination {
        display: none;
    }
    .page_icon {
        background: url({% static 'rome/images/essays.png' %});
        background-size: contain;
        background-repeat:no-repeat;
    }

    #essay{
        background:#F9EDD2;
        margin-top:1%;
        margin-left:3.7%;
        padding:5px;
        font-weight: 200;
        border-style:solid;
        border-width:1px;
        border-color:#D64833;
        max-width:800px;
    }

    #page_body li {
        margin-left:5px;
        margin-right:5px;
        position: relative;
        background: #F2D69E;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        min-width: 80%;
        max-width: 80%;
        height:auto;
        display: inline-block;
        font-weight:300;
        font-size:14px;
    }

    #essay h1 {
        padding-left:10px;
    }

    #relatedworks {
        display: inline-block;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
    }

    #relatedpeople {
        display: inline-block;
        max-width:50%;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
        min-width:100px;
    }

    h3 {
        color:#D64833;
        font-weight:300;
    }

    #headright {
        display:inline-block;
        vertical-align: top;
        margin:5px;
    }

    #headleft {
        display:inline-block;
        vertical-align: top;
        float:left;
        max-width:50%;
        margin:5px;
    }

    #trail {
        float:right;
    }

    .work {
        border:1px solid;
        border-color: #D38A09;
        margin:3px;
        padding:5px;
    }

    .work li {
        list-style-type:none;
    }


    div.pagination_rome {
        overflow:auto;
        height:100%;
    }

</style>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
//        $("#description > p").css('height', 'auto');
        var fullHeight =  $("#description > p").height();
        $("#description > p").addClass('hide');
        if (fullHeight < 200) {
            $("button").hide();
            $("#description > p").removeClass('hide');
        }
        // $("#description > p").height(reducedHeight);

        $("button").click(function(){
            if( $("#description > p").hasClass('hide')) {
                $("#description > p").animate({height:fullHeight},200).removeClass('hide');
                //$("#description > p").removeClass('hide');
            } else {
                //$("#description > p").addClass('hide');
                $("#description > p").animate({height:50},200).addClass('hide');
            }

            //reducedHeight = $("#description > p").height();
//            $("#description > p").css('height', 'auto');
            //fullHeight =  $("#description > p").height();
            // $("#description > p").animate({height: fullHeight}, 500).toggle();
            // $("#description > p").slideToggle(500);
            $("button").text(function(i, text){
                return text === "Expand" ? "Close" : "Expand";
            })
        });
    });
</script>
{% endblock javascript %}



{% block pagination %}

<span id="trail"><a href="../">Back to essays</a></span>


{% if related_list %}
<div id="headleft">
<h3>Books and Prints</h3>
<div id="relatedworks">
{% for work in related_list %}
    <div class="work">
    <li><span style="color:#D64833;">Title:</span> {{work.title}}</li>
    <li><span style="color:#D64833;">Author:</span> {{work.creator}}</li>
        <li><span style="color:#D64833;">Genre:</span> {{work.genre}}</li>
        <li>{{work.pid}}</li>
    </div>
{% endfor %}
</div>
    </div>
{% endif %}

{% if people %}
<div id="headright">
<h3>People</h3>
<div id="relatedpeople">
{% for person in people %}
{{person}}
{% endfor %}
</div>
</div>
{% endif %}

{% endblock %}


{% block content %}
<!--https://repository.library.brown.edu/viewers/image/thumbnail/bdr:381100/-->
        {% block essay %}
        <div id="essay">
        {{essay_text|markdown}}
        </div>
        {% endblock %}
{% endblock %}
