{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block extra_head %}
<style type="text/css">
    .pagination, #cookietrail {
        display: none;

    }

    .pagination_rome {
    }

    #page_body {
        max-width: 100%;
        margin-left:0;
    }
    .page_icon {
        background: url({% static 'rome/images/essays.png' %});
        background-size: contain;
        background-repeat: no-repeat;

    }

    .results {
        margin-left:2%;
        max-width: 800px;
        column-count:3;
        break-inside: avoid-column;
        background-color: #E8C577;
        padding-left:35px;

    }

    .row {
        min-width: 200px;
        max-width: 200px;
        padding: 10px;
        height: 150px;
        display: inline-block;
        font-weight: 300;
        font-size: 14px;
        /*text overflow ellipses*/
    }

    .intro {
        display:none;
    }


</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'rome/js/list.js'%}"></script>
<script type="text/javascript">
    window.onload=load;
    var curr_page;
    var max_num;
    var prints_per_page;

    function load()
    {
        max_num={{num_results}};
        prints_per_page={{ results_per_page }};
        curr_page={% if curr_page %}{{ curr_page }}{% else %}1{% endif %};
        show_page(curr_page);
        show_sorting('{{ sorting }}');
        show_filter('{{ filter }}');

        expand_buttons()

        $("li").hover(function(e) {
            $(this).find(".metadata .extra").fadeTo(200, 1);
        }, function(e) {
            $(this).find(".metadata .extra").fadeTo(200, 0.4);
        })
    }
</script>
{% endblock %}



{% block page_title%}The Theater that was Rome - Essays{% endblock %}

{% block pagination %}
<h3>showing <span id="prints_shown"></span> of {{num_results}} results; on page <span id="curr_page_span">{{ curr_page }}</span></h3>
{% for i in page_range %}
<button id="page_button_{{i}}" class="page_button btn btn-default" onclick="show_page({{i}})">{{i}}</button>
{% endfor %}
<br />

{% if sort_options %}
<div class="sort_options">
    Sort by:&nbsp;
    {% for key,opt in sort_options.items %}
    <a id="sort_{{opt}}"
       class="sort_link{% if opt == sorting %} sort_active{% endif %}"
       href="?sort_by={{opt}}{% if filter_options %}&filter={{ filter }}{% endif %}">{{key|title}}
    </a>{% if not forloop.last %} | {% endif %}
    {% endfor %}
</div>
{% endif %}

{% if filter_options %}
<br/>
<div class="filter_options">
    Filter by:&nbsp;
    {% for key,opt in filter_options %}
    <a id="sort_{{opt}}"
       class="sort_link{% if opt == filter %} sort_active{% endif %}"
       href="?filter={{opt}}{% if sort_options %}&sort_by={{ sorting }}{% endif %}">{{key|title}}
    </a>{% if not forloop.last %}  {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}


{% block content %}
<ul class="results">
    {% for essay in essay_objs %}
    <li class="row"><span><a href="{% url 'specific_essay' essay.slug %}">{{essay.title}}</a></span>
    <br> {{essay.slug}} <br> </li>
    {% endfor %}
</ul>
{% endblock %}
