{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block extra_head%}
<style type="text/css">
    .intro, .pagination {
        display: none;
    }
    .page_icon {
        background: url({% static 'rome/images/essays.png' %});
        background-size: contain;
        background-repeat:no-repeat;
    }

    #essay{
        background:#F9EDD2;
        margin-top:5%;
        margin-left:3%;
        padding:5px;
        font-weight: 200;
        border-style:solid;
        border-width:1px;
        border-color:#D64833;
        max-width:800px;
    }

    #page_body li {
        padding:8px;
        border-width:1.5px;
        margin-left:5px;
        margin-right:5px;
        position: relative;
        background: #F2D69E;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-style: solid;
        border-width: 1.5px;
        border-color: #D38A09;
        min-width: 80%;
        max-width: 80%;
        padding:10px;
        height:auto;
        display: inline-block;
        font-weight:300;
        font-size:14px;
    }

    #essay h1 {
        padding-left:10px;
    }



</style>
{% endblock %}

{% block cookietrail %}
    <ol>
        <li><a href="../">Back to essays</a></li>
    </ol>
{% endblock %}

{% block content %}

        {% block essay %}
        {{essay.pages}}
        {{<essay class="people"></essay>}}
        <div id="essay">
        {{essay_text|markdown}}
        </div>
        {% endblock %}
{% endblock %}
