{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}

{% block page_head %}
<h1>{{title}}</h1>
<div class="intro"><h2>A Virtual Roman Library</h2></div>
<div class="page_icon"></div>
{% endblock %}



{% block content %}
<div id="heroRight"></div>
	<div id="heroLeft"></div>
	<div id="sitenav">
		<ul>
			<li><a href="books">Books</a></li>
			<li><a href="prints">Prints</a></li>
			<li><a href="people">People</a></li>
			<li><a href="essays">Essays</a></li>
			<li><a href="shop_list">Print Shops</a></li>
			<li><a href="links">Links</a></li>
			<li><a href="about">About</a></li>
            <!--<li><a href="search">Search</a></li>-->
			<!--<li class="inactive">Printshop Inventories</li>-->
			<!--<li class="inactive">Network of Printers, Publishers, and Artists</li>-->
			<!--<li class="inactive">Search</li>-->
		</ul>
	</div>

{% endblock %}
