{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}

{% block page_head %}
<h1>{{title}}</h1>
<div class="intro"><h2>A Virtual Roman Library</h2></div>
<div class="page_icon"></div>
{% endblock %}



{% block content %}
<div id="heroRight"></div>
	<div id="heroLeft"></div>
	<div id="sitenav">
		<ul>
            <li><a href="{% url 'books' %}">Books</a></li>
            <li><a href="{% url 'prints' %}">Prints</a></li>
            <li><a href="{% url 'people' %}">People</a></li>
            <li><a href="{% url 'essays' %}">Essays</a></li>
            <li><a href="{% url 'shops' %}">Print Shops</a></li>
            <li><a href="{% url 'links' %}">Links</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
		</ul>
	</div>

{% endblock %}
