{% extends "rome_templates/base.html" %}
{% load static from staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block page_title %}The Theater that was Rome{% endblock %}

{% block extra_head %}
<style type="text/css">
    .pagination_rome {
        display: none;
    }

    .page_icon {
        background: url({% static 'rome/images/links.png' %});
        background-size: contain;
        background-repeat:no-repeat;
    }
</style>
{% endblock %}

{% block cookietrail %}
{% endblock %}

{% block content%}
<h3>Links</h3>
    <ul>
        <li> <span><a target="_blank" href="http://formaurbis.stanford.edu">Stanford Digital Forma Urbis Romae Project</a></span></li>
        <li><span><a target="_blank" href="http://speculum.lib.uchicago.edu/index.html">Speculum Romanae Magnificentiae</a></span></li>
        <li><span><a target="_blank" href="http://www.iath.virginia.edu/rome/">Aquae Urbis Romae</a>The Waters of the City  of Rome</span></li>
        <li><span><a target="_blank" href="http://nolli.uoregon.edu">Interactive Nolli Map</a></span></li>
        <li><span><a href="http://vasi.uoregon.edu/index.htm" target="_blank">Imago Urbis: Giuseppe Vasi's Grand Tour of Rome</a></span></li>
    </ul>
{% endblock %}
