{% extends "rome_templates/base.html" %}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block title %}{{title}}{% endblock %}
{% block page_title %}The Theater that was Rome{% endblock %}
{% block javascript%}
<script type="text/javascript">

{% if book_mode %}
var pid = "{{ print_id }}"

$(document).ready(function() {
    
    var next_link = $("#next_page");
    var prev_link = $("#prev_page");

    var prev_pid = "{{ prev_pid }}";
    var next_pid = "{{ next_pid }}";

    if(prev_pid != "none") {
        prev_link.attr("href", "{{ back_to_thumbnail_href }}" + prev_pid);
        prev_link.html("Previous");
    } else {
        $("#prev_page").html("");
    }

    if(next_pid != "none") {
        next_link.attr("href", "{{ back_to_thumbnail_href }}" + next_pid);
        next_link.html("Next");
    } else {
        $("#next_page").html("");
    }
    add_low_toggle_handlers();
    //only show first paragraph of essays
    $('.essaytextpage').each(function() {
        var textid = $(this).attr('id');
        $('#' +textid).children().css('display','none');
        $('#' +textid+ " > h2:first-of-type").css('display', 'block');
        $("#" +textid+ " > p:first-of-type").css('display', 'block');
    });
});

{% endif %}

function add_low_toggle_handlers(){

    $(".essaytogglepage").on('click', function(){
        var id = $(this).attr('id');
        var slug = id.substring(6);
        var textid = "essaytext" + slug;
        var linkid = "essaylink" + slug;
        var hideid = "hide" + slug;
        $("#" +textid).toggle();
        $("#" +linkid).toggle();
        $("#" + id).toggle();
        $("#" +hideid).toggle();
        $("#" +textid).children().css('display', 'none');
        $('#' +textid+ " > h2:first-of-type").css('display', 'block');
        $("#" +textid+ " > p:first-of-type").css('display', 'block'); 
    });

    $(".essayhidepage").on('click', function(){
        var id = $(this).attr('id');
        var slug = id.substring(4);
        var textid = "essaytext" + slug;
        var linkid = "essaylink" + slug;
        var toggleid = "toggle" + slug;
        $("#" +textid).toggle();
        $("#" +linkid).toggle();
        $("#" +toggleid).toggle();
        $("#" + id).toggle();
        $("#" +textid).children().css('display', 'none');
        $('#' +textid+ " > h2:first-of-type").css('display', 'block');
        $("#" +textid+ " > p:first-of-type").css('display', 'block');
    });
}

</script>
{% endblock javascript %}

{% block extra_head %}
<style type="text/css">
    div.intro, div.pagination_rome {
        display: none;
    }
    .page_icon {
        background: url({% static 'rome/images/prints.png' %});
    }

    div#page_head h1{
        height:30px;
        padding-top:30px;
        padding-bottom:20px;
    }
    div#page_body{
        padding:15px;
        padding-left:0px;
        margin-left: 5%;
    }


</style>
{% endblock %}

{% block navigation %}
    {% if book_mode %}
        <br />
<ul class= "navigationlink">«<a href="{{back_to_thumbnail_href}}" >return to book</a></ul>
        <ul class = "navigationlink">«<a href="{{back_to_book_href}}" >return to book list</a></ul>
    {% endif %}
    {% if print_mode %}
        <br />
        <ul class = "navigationlink">«<a href="{{back_to_print_href}}">return to print list</a></ul>
    {% endif %}
{% if book_mode %}

{% endif %}
{% endblock %}

{% block content %}
    <br />

<div id = "bookinfo">
    {% if book_mode %}
    <ul> <span style="color:#D64833">Book Information</span> <ul/><br />
        {% endif %}
        {% if print_mode %}
        <ul> <span style="color:#D64833">Print Information</span> :<ul/><br />
            {% endif %}
            <ul><b><i>{{ title }}</i>, {{date}}</b></ul>
            <ul>{{ authors }}</ul>
            {% if book_mode %}
            <br>
            <a href="{{ studio_url }}" target="_blank"> [Library View]</a><span style="float:right;"><ul><b>Brown ID #: </b>{{ book_id }}  </ul></span>
            {% if note != "no note" %}
            <ul>{{note}}</ul>
            {% endif %}
            {% endif %}
            {% if print_mode %}
            <ul><b>Print ID: </b>{{ print_id }}<a href="{{ studio_url }}" target="_blank"> [Library View]</a></ul>
            {% if note != "no note" %}
            <ul>{{note}}</ul>
            {% endif %}
            {% endif %}
            <ul></ul>
            <br />
</div>

{% if book_mode %}
<div id="prevnext">
    <a id="prev_page">Loading...</a>
    <a id="next_page">Loading...</a>
</div>
{% endif %}

<div id="detailcontainer">
<div id="image_span">
    <iframe src={{ det_img_view_src}} width="100%" height="800" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
    <h2>Annotations</h2>
        <div id="metadata">

            {% if user.is_authenticated %}
            <div class="new_annotation_link"><a href="{{ create_annotation_link }}">Create New Annotation</a></div>
            {% endif %}
            <!--<ul>-->
            {% for annotation in annotations %}
                <div class="annotation">
                    
                {% if annotation.has_elements.title %}
                <div class="annot_title">
                  {% if annotation.orig_title %}
                  <h2>{{ annotation.orig_title }}</h2>
                  {% else %}
                  <h2>{{ annotation.title }}</h2>
                  {% endif %}
                  {% if user.is_authenticated %} (<a href="{{ annotation.edit_link }}">Edit</a>){% endif %}
                </div>
                {% if annotation.title and annotation.orig_title %}
                <div class="annot_subtitle"><i> {{ annotation.title }} </i></div>
                {% endif %}
                {% endif %}
                
                {% for name in annotation.names %}
                    <div class="annot_field"><b>{{ name.role }}:</b> <a href="{% url 'person_detail' name.trp_id %}">{{ name.name }}</a></div>
                {% endfor %}
                
                {% if annotation.has_elements.abstract %}
                <div class="annot_field"><b>Abstract:</b> {{ annotation.abstract }} </div>
                {% endif %}
                
                {% if annotation.has_elements.genre%}
                <div class="annot_field"><b>Genre:</b> {{ annotation.genre }} </div>
                {% endif %}
                
                {% if annotation.has_elements.origin %}
                <div class="annot_field"><b>Origin:</b> {{ annotation.origin }} </div>
                {% endif %}

                {% if annotation.has_elements.impression %}
                <div class="annot_field"><b>Impression:</b> {{ annotation.impression }} </div>
                {% endif %}
                
                {% if annotation.has_elements.annotations %}
                <div class="annot_field"><b>Annotations:</b></div>
                <ul>
                {% for annot in annotation.annotations %}
                <li class="annot_field">{{ annot }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                
                {% if annotation.has_elements.inscriptions %}
                <div class="annot_field"><b>Inscriptions:</b></div>
                <ul>
                {% for insc in annotation.inscriptions %}
                <li class="annot_field">{{ insc }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                
                <div class="annot_field"><a href={{ annotation.xml_uri }} target="_blank">[View XML]</a></div>
                
                {% if annotation.has_elements.annotator %}
                <div class="annot_field"><i>[{{ annotation.annotator }}]</i></div>
                {% endif %}
                    </div>
            {% endfor %}
            <!--</ul>-->
        {% if essays %}
            <ul><b>Essays:</ul></b><span>
            {% for essay in essays %}  
                <div id = "toggle{{essay.slug}}" class = "essaytogglepage"><span class = "underlinewrap" id="togspan{{essay.slug}}">{{essay.title}}</span></div>
                <div id = "essaytext{{essay.slug}}" class = "essaytextpage">{{essay.text|markdown}}</div>
                <a href="{% url 'specific_essay' essay.slug %}" target ="_blank" class = "essaylinkpage" id = "essaylink{{essay.slug}}"><span class = "underlinewrap">Read More<span class = "underlinewrap" id="togspan{{essay.slug}}"></a>
                <div id = "hide{{essay.slug}}" class = "essayhidepage"><span class = "underlinewrap" id="togspanhide{{essay.slug}}">Hide Essay</span></div>
            {% endfor %}
        {% endif %}    
        <br />
        </div>
</div>


{% endblock %}
