{% extends "rome_templates/result_base.html"%}
{% load static from staticfiles %}

{% block page_title%}The Theater that was Rome - Prints{% endblock %}

{% block extra_head %}
<style type="text/css">
    .page_icon {
        background: url({% static 'rome/images/prints.png' %});
    }

    .annotated {
        -webkit-box-shadow:inset 0px 0px 0px 2px #D64833;
        -moz-box-shadow:inset 0px 0px 0px 2px #D64833;
        box-shadow:inset 0px 0px 0px 2px #D64833;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        /*margin-left:0px;*/
        /*margin-right:3px;*/
        border-radius:3px;
        /*padding-bottom:2px;*/
        /*margin-top:0px;*/
        margin:5px;
        padding-left:5px;
    }


</style>
{% endblock %}



{% block result_title%}
{{result.short_title}}
{% endblock %}



{% block metadata%}
    Authors: <span class="dark">{{ result.authors }}</span><br/>
    Date: <span class="dark">{{ result.date }}</span> <br />
{% endblock %}

{% block extra%}
    Full Title:
    <span class="dark">
        <span num="{{forloop.parentloop.counter}}_{{forloop.counter}}">{{ result.short_title }}
            {% if result.title_cut %}
            <span class="more_button"
                    onclick="expand_title('{{forloop.parentloop.counter}}','{{forloop.counter}}')">
                    [more]
            </span>
            {% endif %}
        </span>
        <span id="{{forloop.parentloop.counter}}_{{forloop.counter}}_full" style="display:none;">
            {{ result.title }}
        </span>
    </span>
{% endblock %}
{% block collection_data%}
                ID: {{ result.id }}


                {% if result.in_chinea %}
                <br />
                This print is in the Chinea collection.
                {% endif %}
                <br />
{% if result.has_annotations > 1 %}
{{ result.has_annotations }} Annotations.
{% endif %}
{% if result.has_annotations > 0 and result.has_annotations < 2 %}
{{ result.has_annotations }} Annotation.
{% endif %}
            </span>
{% endblock %}

{% block sort_by_field%}

{% if sorting == 'title' %}
{{result.title}}

{% elif sorting == 'authors' %}
{{result.authors}}

{% elif sorting == 'date' %}
{{result.date}}

{% else %}
{{result.title}}

{% endif %}
{% endblock %}
