{% extends "rome_templates/base.html"%}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

{% block extra_head%}
<style type="text/css">
    .intro, .pagination {
        display: none;
    }
    .page_icon {
        background: url({% static 'rome/images/essays.png' %});
        background-size: contain;
        background-repeat:no-repeat;
    }

    #essay{
        background:#F9EDD2;
        margin-top:1%;
        margin-left:3.7%;
        padding:5px;
        font-weight: 200;
        border-style:solid;
        border-width:1px;
        border-color:#D64833;
        max-width:850px;
    }

    #essay ul {
        list-style:circle inside;
    }
    #page_body li {
        margin-left:5px;
        margin-right:5px;
        position: relative;

        padding: 5px;

    
        min-width: 80%;
        max-width: 80%;
        height:auto;
        display: inline-block;
        font-weight:300;
        font-size:14px;
    }

    #essay h1 {
        padding-left:10px;
    }

    #relatedworks {
        display: inline-block;
        background:#F2D69E;
        border-style: solid;
        border-width: 1px;
        border-color: #D38A09;
        padding:5px;
    }
    
    #people {
        margin-bottom:10px;
        margin-top:5px;
    }

    #people a:hover{
        text-decoration: underline;
    }

    h3 {
        color:#D64833;
        font-weight:300;
    }

    #essay h3 {
        margin-left:10px;
    }

    #essay p {
        margin:10px;
    }

    h2 {
        font-weight:300;
    }

    h1 {
        font-size:18px;
        margin-top:10px;
    }

    #headright {

        display:inline-block;
        padding-left: 10px;

        

    }

    #headleft {
        display:inline-block;
     
        float:left;
        max-width:400px;
     
        min-height:100%;
        margin-right:2em;

    }

    #trail {
        float:right;
        padding:10px;
    }

    #relatedpeople li {
        list-style-type:none;
    }

    .related {
        width:90%;
            margin-left: 3.7%;
            margin-top:1.7%;
    }

   .thumb:hover{
         background: rgba(0,0,0,.1);
    }
  
    .work:hover{
        background: rgba(0,0,0,.1);

    }
    .work {
        border:1px solid;
        border-color: #c2b99d;
        margin:3px;
        padding:5px;
        max-width:400px;
    }

    .work li {
        list-style-type:none;

    }


    #gradient{
         overflow: hidden;
    }

    button{
        width:25px;
        height:25px;
        font-size:25px;
        background:#F9EDD2;
        border-color:#D64833;
        border-style:solid;
        color:#D64833;
        margin-top:-30px;
        position:absolute;
        margin-left:30px;
        outline: none;
    }

    div.pagination_rome {
      display: block;
        overflow: auto;
        z-index:10;
    }

    #gradient{
        position:relative;
        height:100%;
        width:100%;
        -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

    .img_container {
        display:inline-block;
        float: left;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    }

    .img_container img{
            margin: 5px;
    padding-left: 5px;
    height: 150px;
    }

    #author {
        margin-left:10px;
    }

   #page_body li span.field {
        color:#D64833;
        position:relative;
        top:-2px;
    }

    pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow-wrap: break-word;
  overflow: scroll;

}

    pre > code {
        overflow-wrap: break-word;
        overflow: scroll;
}
</style>
{% endblock %}




{% block pagination %}

<span id="trail"><a href="../">Back to print shops</a></span>





{% endblock %}

{% block content %}

        {% block shop_text %}


        <div id="essay">

        <h2>{{shop.title}} &nbsp; &nbsp; &nbsp;  <span style="color:#805525;"><i>{{shop.start_date}}</i> — <i>{{shop.end_date}}</i></span></h2>
        {% if people %}

<h3>People</h3>

<div id="people">
{% for person in people %}
    <li>
        <a href="{% url 'person_detail' person.trp_id%}">{{person}}</a>
    </li>
{% endfor %}
</div>


{% endif %}
<h3>Summary</h3>
        {{shop_text|markdown}}
        </div>

<div class="related">
{% if related_list %}

<div id="headleft">
<h1>Books and Prints</h1>
<div id="relatedworks">
{% for work in related_list %}
     <div class="work">
    <li><span class="field">Title:</span> {% if work.ppid %}<a href="{% url 'thumbnail_viewer' work.ppid%}">{{work.title|truncatewords:12}}</a>{% else %}
        {% if work.genre == books %}
        <a href="{% url 'thumbnail_viewer' work.pid%}">{{work.title|truncatewords:12}}</a></li>
        {% else %}
          <a href="{% url 'specific_print' work.pid%}">{{work.title|truncatewords:12}}</a></li>
          {% endif %}
               {% endif %}
        <li><span class="field">Author:</span> {{work.creator}}</li>
        <li><span class="field">Genre:</span> {{work.genre}}</li>
        <li>{{work.pid}}</li>
            </div>
{% endfor %}
</div>
    </div>
{% endif %}

<div id="headright" style="padding-top:.1px;">
<h1>Documents</h1>
<div id="relatedworks">
{% for document in documents %}
     <div class="work">
    <li><span class="field">Title:</span> <a href="{% url 'specific_document' document.slug%}">{{document.title|truncatewords:12}}</a>
        <li><span class="field"></span>{{document.summary|truncatewords:50}}</li>
            </div>
{% endfor %}
</div>
</div>
</div>

        {% endblock %}
{% endblock %}
